<script src="<?= Matj_Get::getBaseUrl() ?>/external/jcrop/js/jquery.Jcrop.js"></script>
<link rel="stylesheet" href="<?= Matj_Get::getBaseUrl() ?>/external/jcrop/css/jquery.Jcrop.css" type="text/css" />


<div class="container" style="width:550px;">
    <div class="row">
        <div class="col-sm-12">
            
            <div class="row">
                <div class="col-xs-8">
                    <h3>Orežte obrázok podľa potreby</h3>
                </div>
                <div class="col-xs-4">
                    <form method="post" class="text-center">
                            <button type="submit" class="btn-u btn-u-primary">Orezať</button>
                            <div class="hide">
                                <label>X1 <input type="text" size="4" id="x" name="x"></label>
                                <label>Y1 <input type="text" size="4" id="y" name="y"></label>
                                <label>X2 <input type="text" size="4" id="x2" name="x2"></label>
                                <label>Y2 <input type="text" size="4" id="y2" name="y2"></label>
                                <label>W <input type="text" size="4" id="w" name="w"></label>
                                <label>H <input type="text" size="4" id="h" name="h"></label>
                            </div>
                    </form>
                </div>
            </div>
            
            
            
            
            
            
            <div style="width:500px;">
                <img src="<?= $this->config["url"] ?>?<?= time(); ?>" id="target" style="width:500px;" />
            </div>
            
            
        </div>
    </div>
</div>


<script type="text/javascript">
  $(window).load(function(){
      
      
    var img = document.getElementById('target'); 
    var orW = img.naturalWidth;
    var orH = img.naturalHeight;  
      
    // The variable jcrop_api will hold a reference to the
    // Jcrop API once Jcrop is instantiated.
    var jcrop_api;

    // In this example, since Jcrop may be attached or detached
    // at the whim of the user, I've wrapped the call into a function
    initJcrop();
    
    // The function is pretty simple
    function initJcrop()//{{{
    {
      // Hide any interface elements that require Jcrop
      // (This is for the local user interface portion.)
      $('.requiresjcrop').hide();

      // Invoke Jcrop in typical fashion
      $('#target').Jcrop({
        onRelease: releaseCheck,
        aspectRatio: <?= $this->ratio ?>,
        onChange: showCoords,
        onSelect: showCoords
      },function(){

        jcrop_api = this;
        jcrop_api.animateTo([0,0,$("#target").width(),0]);

        // Setup and dipslay the interface for "enabled"
        $('#can_click,#can_move,#can_size').attr('checked','checked');
        $('#ar_lock,#size_lock,#bg_swap').attr('checked',false);
        $('.requiresjcrop').show();

      });

    };
    //}}}
    
    
    function releaseCheck()
    {
      jcrop_api.setOptions({ allowSelect: true });
      $('#can_click').attr('checked',false);
    };
    
    function showCoords(c)
    {
        console.log(orW);
        cw=orW/$("#target").width();
        ch=orH/$("#target").height();
        
        
        
        
        $('#x').val(c.x*cw);
        $('#y').val(c.y*ch);
        $('#x2').val(c.x2*cw);
        $('#y2').val(c.y2*ch);
        $('#w').val(c.w*cw);
        $('#h').val(c.h*ch);
    };
});
</script>