<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Vyberte obrázok</h2>
            
            <form method="post" class="form" id="uploader" enctype="multipart/form-data">
                <p>
                    <span class="btn-u btn-u-blue btn-file">
                        Vyhľadať v PC <input type="file" name="file" id="file">
                    </span>
                </p>
            </form>
            
            
            <script type="text/javascript">
            $(document).ready( function() {
                $('#file').on('change', function(event, numFiles, label) {
                    $("#uploader").submit();
                });
                
                var browseField = document.getElementById("uploader").file;
                browseField.click();
                
            });

            </script>
            
            <a href="#" onclick="window.close()" class="btn-u btn-u-default">Zrušiť</a>
        </div>
    </div>
</div>