<div class="container" style="width:550px;">
    <div class="row">
        <div class="col-sm-12">
            <h2>Vyberte obrázok</h2>
            
            <div style="width:500px;">
                <img src="<?= $this->config["url"] ?>?<?= time(); ?>" id="target" style="max-width:500px;" />
            </div>
            
            
            
        </div>
    </div>
</div>

<script>
   
   
   $(window).load(function(){
       window.opener.setFileFromUpload('<?= $this->name ?>','<?= $this->config["url"] ?>');
       window.close();
   });
    
   
</script>