/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.5.2015, 13:37:47
    Author     : matj
*/


body { padding-top:70px; }
.page-header { margin-top:0; }
.page-header h1{ margin-top:0; font-size:1.9em; }
.navbar.navbar-default.navbar-fixed-top { margin-bottom:10px; }

@media (max-width: 768px) {
    .navbar-header { float:right; }
}
.bootcards-container { margin-bottom:20px; }


.fullwidth-body .content-container { width:auto; }
.divider {margin:10px 0; width:100%; display:block;}
.calendar-wrapper { max-width:none !important; }

/**** formulare */

#tinymce { padding:5px; font-size:11px; }


.dateselect {margin-right:5px; float:left; padding-left:5px; padding-right:3px; }
.dateselect-day,.dateselect-hour,.dateselect-minutes { width:60px;}
.dateselect-year { width:70px; margin-right:5px;}
.dateselect-month { width: 95px; font-size: 12px; }
.dateselect-hour { margin-top:10px; clear:left;}
.dateselect-minutes { margin-top:10px;}
.dateselect-divider { float:left; margin-top:10px; height:20px; display:block; line-height: 20px; padding:6px 6px 6px 3px; }
.smartTable .filter_row .filter-dateselect-element { white-space: nowrap; }
.smartTable .filter_row .filter-dateselect-element select { width:auto; font-size:9px; margin:0; padding:3px 1px 3px; margin-right:1px;   }
.filter-dateselect-element { margin-bottom:2px; }
.filter-dateselect-element .btn { font-size: 10px; padding: 4px; }


.smartTable .filter_row .filter-dateselect-element select.dateselect-month { width:50px;  }


form .errors { list-style: none; padding: 0; margin:3px 0 0; }
form .errors,form .errors li { color:#B94A48; font-weight: bold;}
form .help-block { clear: both; margin-top:0; padding-top:5px; }


.form-actions .secondbtn { position:relative; top:2px;}

.form-group label.required {  }
.form-group label.required::before { content:'*';color:red; margin-right:5px; font-size:1.2em;}


form .formFilePreview { width:100px;  }
form .formFilePreview img{ width:100%;  }
form .formFilePreview span{ color:#999; }

.smarteditorPreview{ margin-bottom:5px; display:block; padding:0 10px; height:100px; overflow:auto; border: 1px solid #CCC; }


#ZFDebug_translate input { color:black; }


.text-sm-right { text-align: left; }



.reg-page .radio-group { border:1px solid #ccc; padding:8px 5px 5px; line-height: 20px; }
.reg-page .radio-group label { margin-right:20px; }
.reg-page .radio-group label input { margin:2px 5px 0 5px; position: relative; top:2px; }


form .input-group-addon .fa { min-width: 20px; }

.form-group label { padding-top:5px; }

hr { margin-top: 10px; margin-bottom: 15px; }
.form-group { margin-bottom: 5px; }


.text-sm-right { text-align: left; }

.table-admin td, .table-admin th {padding:2px; text-align:center;}
    

@media (min-width: 768px) { 
    .text-sm-right { text-align: right; }
    
    .modal-lg .modal-dialog { width:100%; max-width:1200px; }
    
    
}
 



/**** TABULKA  ***/

table.smartTable .first_row th { padding:5px 10px; background-color:#EAEAEA; vertical-align:middle; height:auto; }

.smartTable {position:relative;}
.smartTable .smartTableOptions { display:none; position:absolute; left:0px; top:-66px; opacity:0.2;  }
.smartTable .smartTableOptions:hover { opacity: 1; }
.smartTable .smartTableOptions .btn-toolbar { background:#EAEAEA; padding:10px 10px; display:block; border:1px solid #dddddd; border-radius:5px;  }
.smartTable:hover .smartTableOptions { display: block; }
.smartTable .smartTableOptions, .smartTable .smartTableOptions li, .smartTable .smartTableOptions a { line-height:auto; font-size:11px; }
.smartTable .smartTableOptions .dropdown-menu a { padding:1px 10px; }


.smartTable .filter_row th { background-image:none; cursor:default; padding:3px 0 3px 0; }
.smartTable .filter_row span { display:block; padding:0 2px;}
.smartTable .filter_row input,
.smartTable .filter_row select { width:99.5%; padding:2px 0; height:auto; text-indent:5px;text-transform: none !important;  margin-bottom:0; font-size: 12px; line-height: 12px; border:1px solid silver;}
.smartTable .filter_row select { padding:1px 2px; text-indent:0px; margin-bottom:0; }

.smartTable .filter_row .filterFilterNum { }
.smartTable .filter_row .filterFilterNum .selectWrapper{ width:42px;float:left; padding:0;}
.smartTable .filter_row .filterFilterNum .inputWrapper{ margin-left:42px;}
.smartTable .filter_row .filterFilterNum select{ width:42px;}
.smartTable .filter_row .filterFilterNum input{ width:100%;}
.smartTable .filter_row .pluginCheckbox input { position:relative; top:-7px; }

.smartTable .sortable  { background-image:url(../img/table/sort.png); background-position:10px center; background-repeat:no-repeat; }
.smartTable .sortable a { display:block; margin-left:18px;}
.smartTable .forwardSort  { background-image:url(../img/table/sort_up.png); }
.smartTable .reverseSort  { background-image:url(../img/table/sort_down.png); }

.table.smartTable td { vertical-align:middle; }
.table.smartTable > thead > tr > th,.table.smartTable > tbody > tr > td { padding:3px 5px; }


.smartTable .filter_row th { vertical-align: middle;}
.smartTable .filter_row .filter_submit_reset { padding:0 3px; }
.smartTable .filter_row .filter_submit_reset input { width:auto; padding:3px 10px 3px 6px;font-size:14px; }


/**
Calendar
*/

.fc-car { font-size:12px; float:right; padding:0 3px 0; }
.fc-car img { height:12px; }
.fc-event-title { clear:both; font-size:12px; font-weight:bold; overflow: hidden; height:17px; }
.fc-notif { font-size:14px; float:right; padding:0 3px 0; }
.fc-event-status { width:100%; overflow: hidden; text-overflow: ellipsis; display: block; border-radius:0; }
.container .fc-agenda-slots td div { height:25px; }
.fa-angle-double-up { font-size: 18px; /* color: yellow; */ }
.fc-notif img { height:10px; margin-left:5px; vertical-align:baseline; }
.fc-event { position: relative; transition: box-shadow .2s; }
.fc-event:hover { box-shadow: 1px 1px 1px #666; border-color: #666 !important;  }


.fc-event-time .fc-car { float:left; padding:0 5px 0 0; font-size:11px; font-weight:bold; }
.fc-event-time .fc-car:empty { display:none;  }


.fc-event:hover { z-index: 1000; border:1px solid #333; }
.fc-event:hover .popover{ display:block; left:-260px; color:black; z-index:10000; font-size:12px; top:-5px; }

.fc-event-popup-right:hover .popover { left:102%; }

.fc-event .popover .popover-title{ white-space:nowrap; color:black; font-size:14px; vertical-align: baseline;  width: 250px; }
.fc-event .popover .popover-content { width: 250px; }
.fc-event .popover .arrow{ top:20px; }
.fc-event .popover .popover-title label { color:black; }
.fc-event .popover .popover-title .label-status { display:block; margin-top:5px; clear:both; }
.fc-event .popover .popover-title .label-time { float:right; }


.panel-history .panel-title { margin:2px 0; }
.history-label { font-size:1em; color:#666; margin-bottom:3px; }
.history-item { font-size:12px; padding-top:7px; padding-bottom:7px; }
.history-item i { width:auto; margin:0; }
.panel-history .history-no-comments { padding:5px 25px; }
.history-time, .history-user { color:#999; }
.history-change { display: block; }
.history-description { display: block; }


.fc-filters .navbar-nav { margin:0 10px; }
.fc-filters .navbar-nav>li>a { padding:6px 12px; }
.fc-filters .navbar-nav li { position:relative; z-index:1; }
.fc-filters .navbar-nav li img { height:12px; }
.fc-filters .navbar-nav .label { position: absolute; top:-5px; right:-8px; z-index:20; }
.top-status li a { background:none;color:#333; }
.top-status li a:hover { background:none;color:#333; }


.fc-loadtime-10 .fc-event-status,
.fc-loadtime-20 .fc-event-status,
.fc-loadtime-30 .fc-event-status,
.fc-loadtime-45 .fc-event-status { position: absolute; top:0; left:0; width:10px; height:100%; text-indent: 100px; overflow: hidden; display: block;  }

/* .fc-allday { position: static !important; } */

.fc-loadtime-10 .fc-event-inner,
.fc-loadtime-20 .fc-event-inner,
.fc-loadtime-30 .fc-event-inner,
.fc-loadtime-45 .fc-event-inner  { padding-left:15px; }


.bootcards-list .dropdown-menu .divider { border-color:#e5e5e5; } 


.timeline {
        position: absolute;
        left: 59px;
        border: none;
        border-top: 1px solid red;
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 999;
}


/*Navigation
------------------------------------*/
/*Pegination*/
.pagination li a {
  color: #777;
  padding: 5px 15px;
}

/*
.pagination li a:hover {
   color: #fff;
   background: #5fb611;
   border-color: #5fb611;   
}
*/
/*.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
   border-color: #72c02c;
   background-color: #72c02c;
}
*/
/*Pagination Without Space*/
.pagination-no-space .pagination {
   margin: 0;
}

/*Pager*/
/*
.pager li > a:hover, 
.pager li > a:focus {
   color: #fff;
   background: #5fb611;
   border-color: #5fb611;   
}
*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
} 



.padding-left-30  { padding-left:30px !important; }

.fc h2 { font-size:25px; }






/**/
/* datepicker */
/**/
.ui-datepicker {
	display: none;
	padding: 10px 12px;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	text-align: center;
	color: #666;
}
.ui-datepicker a {
	color: #404040;
}
.ui-datepicker-header {
	position: relative;
	margin: -10px -12px 10px;
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-size: 15px;
	line-height: 27px;
}
.ui-datepicker-prev, 
.ui-datepicker-next {
	position: absolute;
	top: 0;
	display: block;
	width: 47px;
	height: 47px;
	font-size: 15px;
	line-height: 47px;
	text-decoration: none;
	cursor: pointer;
}
.ui-datepicker-prev {
	left: 0;
}
.ui-datepicker-next {
	right: 0;
}
.ui-datepicker-calendar {
	border-collapse: collapse;
	font-size: 13px;
	line-height: 27px;
}
.ui-datepicker-calendar th {
	color: #999;
}
.ui-datepicker-calendar a,
.ui-datepicker-calendar span {
	display: block;
	width: 31px;
	margin: auto;
	text-decoration: none;
	color: #404040;
}
.ui-datepicker-calendar a:hover {
	background: rgba(0,0,0,.05);	
}
.ui-datepicker-calendar span {
	color: #bfbfbf;
}
.ui-datepicker-today a {
	font-weight: 700;
}
.ui-datepicker-calendar .ui-state-active {
	background: rgba(0,0,0,.05);
	cursor: default;	
}
.ui-datepicker-inline {
	border: 2px solid #e5e5e5;
	background: #fff;
	box-shadow: none;
}
.ui-datepicker-inline .ui-datepicker-header {
	line-height: 47px;
}
.ui-datepicker-inline .ui-datepicker-calendar {
	width: 100%;
}


.simplecolorpicker.icon, .simplecolorpicker span.color {     border: 1px solid #333 !important; }

.table .table-link:hover, .table .bg-red {background-color:red}
/*------- REZERVACIE -------*/
.table>tbody>tr>td.table-link {cursor:pointer;padding:0 !important;}
td.table-link:hover {background:green}
td.table-link.bg-danger:hover {background:red}
td.table-link a.btn {
	display:inline-block;
	width:100%;
	margin:0;
	border-radius:0;border:0px;
	box-shadow:0 !important;
	padding:12px 6px;
}
td.disabled {background:silver;}

.bg-black { background-color: #111111 !important; }
.bg-white { background-color: #FFFFFF !important; }
.bg-offwhite { background-color: #F5F5F5 !important; }
.bg-clouds { background-color: #ECF0F1 !important; }
.bg-silver { background-color: #BDC3C7 !important; }
.bg-concrete { background-color: #95A5A6 !important; }
.bg-asbestos { background-color: #7F8C8d !important; }
.bg-tan { background-color: #D1DBBD !important; }
.bg-pewter { background-color: #91AA9D !important; }
.bg-moonlight { background-color: #3E606F !important; }
.bg-deepocean { background-color: #193441 !important; }
.bg-turquoise { background-color: #1ABC9C !important; }
.bg-aqua { background-color: #16A085 !important; }
.bg-sunflower { background-color: #F1C40F !important; }
.bg-orange { background-color: #F39C12 !important; }
.bg-sienna { background-color: #BF4E19 !important; }
.bg-milanored { background-color: #AC1C00 !important; }
.bg-river { background-color: #3498DB !important; }
.bg-marina { background-color: #2980B9 !important; }
.bg-deco { background-color: #C9D787 !important; }
.bg-crete { background-color: #7D8A2E !important; }
.bg-guardsman { background-color: #D90000 !important; }
.bg-pomegranate, .alert-bg-pomegranate { background-color: #C0392B !important; }
.alert-bg-pomegranate {color:#fff;border:none;margin:0;}
.bg-finn { background-color: #723147 !important; }
.bg-tamarind { background-color: #31152B !important; }

