<section class="content-block bg-concrete">
		<div class="container">
			<!-- The title -->
			<div class="text-left">
				<h1 class="offwhite">Rezervácie športovísk</h1>
				<p class="lead clouds">Objekty poskytujúce online rezervácie športovísk</p>
			</div>     
		</div><!-- ./container -->
</section>
<section class="content-block">
  <div class="container">
    <div class="row">
      

        <? if($this->clients):?>          
                  <? foreach($this->clients as $k=>$v):?>
                    <div class="col-sm-4 client-member-wrap">
                      <? //Zend_Debug::dump($v);?>
                      <div class="client-member">
												<a href="<?= $this->url(array('client'=>$v["hash"]),'client');?>">
                        <? if($v["image"]):?>
                      		<img src="/image/crop/600x500<?= $v["image"];?>" class="img-responsive" alt="<?= $v["name"];?>">
                        <? else:?>
                          <img src="http://placehold.it/600x500" class="img-responsive" alt="<?= $v["name"];?>">
                        <? endif;?>
												</a>
                        <div class="client-details">
                          <div class="editContent">
                            <h4 class="member-name"><?= $v["name"];?></h4>
                          </div>
                          <div class="editContent">
                            <p class="position">
                              <i class="fa fa-map-marker"></i> <?= $v["address"].", ".$v["city"].", ".$v["zip"]." ".$v["country"];?><br>
															<? if($v["phone"]):?>
																<i class="fa fa-phone"></i> <?= $v["phone"];?>
															<? endif;?>
                            </p>
                          </div>
                          <div class="editContent">
                            <a href="<?= $this->url(array('client'=>$v["hash"]),'client');?>" class="btn btn-outline outline-dark large btn-full">Zobraziť športoviská</a>
                          </div>
                         
                        </div>
                      </div>
                    </div>
                    <!-- /.client-member-wrap -->
                    
                  <? endforeach;?>
              
        <? endif;?>
    </div>
  </div>
</section>