<div class="col-sm-12 bootcards-list">
    <div class="panel panel-default bootcards-richtext">
       <div class="panel-heading">
            <div class="btn-toolbar  pull-right">
                <a href="<?= $this->url(array('action'=>'add')) ?>" class="btn btn-success"><i class="fa fa-plus"></i> Pridať</a>
            </div>
            <h3 class="panel-title"><?= $this->header ?></h3>
           
       </div>
       <div class="panel-body calendar-wrapper"> 
           <?= $this->table; ?>
       </div>
   </div>
</div>
<?
$this->header="";
?>