<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><?= translate("edit.center.details");?></h4>
    </div>
    <div class="panel-body">
     <?= $this->form;?>
    </div>
  </div>
</div>
<div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4 class="pull-left">
            <?= translate("list.of.current.objects");?>
          </h4>
          <a href="<?= url(array('action'=>'addobject','id'=>$this->params["id"],'object'=>null),'default');?>" class="btn btn-sm btn-success pull-right">Pridať</a>
          
        </div>
        <div class="panel-body">
          <table class="table table-stripped">
            <tr>
              <th><?= translate("object.name");?></th>
              <th><?= translate("object.status");?></th>
              <th><?= translate("object.actions");?></th>
            </tr>
            <? if($this->objects):?>
              <? foreach($this->objects as $k=>$v):?>
                <tr>
                  <td><?= $v->name;?></td>
                  <td><?= $v->status;?></td>
                  <td><a href="<?= url(array('action'=>'addobject','id'=>$this->params["id"],'object'=>$v->hash),'default');?>" class="btn btn-sm"><i class="fa fa-cog"></i></a></td>
                </tr>
              <? endforeach;?>
            <? endif;?>
          </table>          
        </div>
      </div>
</div>