<? if($this->clients):?>
<? $v=$this->clients;?>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <?= translate("your.contact.details");?>
          </h4>
        </div>
        <div class="panel-body">
          <?= $this->form;?>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 bootcards-list">
        <div class="panel panel-default bootcards-richtext">
           <div class="panel-heading">
                <div class="btn-toolbar  pull-right">
                    <a href="<?= $this->url(array('action'=>'addcenter')) ?>" class="btn btn-success"><i class="fa fa-plus"></i> Pridať športovisko, objekt</a>
                </div>
                <h3 class="panel-title"><?= $this->header ?></h3>

           </div>
            
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Názov športoviska</th>
                  <th colspan="2">Nastavenia</th>
                </tr>
              </thead>
              <tbody>
                <? foreach($v->centers as $kc=>$vc):?>
                  <tr>
                    <td><?= $vc->name;?></td>
                    <td><a href="<?= $this->url(array('action'=>'interval','center_id'=>$vc->id));?>" class="btn btn-default"><i class="fa fa-clock-o"></i> Otváracie hodiny a ceny</a></td>
                    <td><a href="<?= $this->url(array('action'=>'addcenter','id'=>$vc->hash));?>" class="btn btn-default"><i class="fa fa-cog"></i> Nastavenia</a></td>
                  </tr>
                <? endforeach;?>
              </tbody>
            </table>
       </div>
    </div>

<? else:?>
<div class="col-sm-12 bootcards-list">
    <div class="panel panel-default bootcards-richtext">
       <div class="panel-heading">
            <div class="btn-toolbar  pull-right">
                <a href="<?= $this->url(array('action'=>'add')) ?>" class="btn btn-success"><i class="fa fa-plus"></i> Pridať stredisko</a>
            </div>
            <h3 class="panel-title"><?= $this->header ?></h3>
           
       </div>
       <div class="panel-body calendar-wrapper"> 
           <?= $this->table; ?>
       </div>
   </div>
</div>
<? endif;?>
<?
$this->header="";
?>