<div class="container">
  <? if($this->clients):?>
  <? foreach($this->clients as $k=>$v):?>
  
  <? endforeach;?>
  <? endif;?>
  
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default bootcards-richtext">
        <div class="panel-heading">
          <?= translate("custom.opening.times");?>
          <a href="<?= $this->url(array('add'=>true));?>" class="btn btn-success pull-right btn-xs"><i class="fa fa-plus"></i> <?= translate("add.new");?></a>
        </div>
        
          <? if($this->params["add"]):?>
            <div class="panel-body">
            <h5>
              <?= translate("add.interval");?>
            </h5>        
            <form method="post" class="form-horizontal">
              <div class="form-group">
                <label class="col-xs-3 control-label"><?= translate("from");?></label>
                <div class="col-xs-8">
                  <input type="text" class="form-control" name="start" id="start" value="<?= $this->params["start"];?>" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-3 control-label"><?= translate("to");?></label>
                <div class="col-xs-8">
                  <input type="text" class="form-control" name="end" id="end" value="<?= $this->params["end"];?>" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-3 control-label"><?= translate("is.main");?></label>
                <div class="col-xs-3">
                  <input type="checkbox" class="form-control" name="main" id="main" value="<?= $this->params["main"];?>">
                </div>
              </div>
              <div class="form-group">
                
                <div class="col-xs-6">
                  <button type="submit" class="form-control btn btn-success"><?= translate("submit");?></button>
                </div>
                <div class="col-xs-6">
                  <a href="<?= $this->url(array('add'=>null));?>" class="form-control btn btn-warning"><?= translate("cancel");?></a>
                </div>
              </div>
              <input type="hidden" name="interval" id="interval" value="<?= $this->params["interval_id"];?>"/> 
            </form>
        	</div>
          <? endif;?>
          <? if($this->intervals):?>
            <table class="table table-stiped">
							<thead>
								<tr>
									<th><?= translate("interval.start");?></th>
									<th><?= translate("interval.end");?></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
              <? foreach($this->intervals as $k=>$v):?>
                <tr>
                  <td><?= date("d.m.Y",strtotime($v->start));?></td>
                  <td><?= date("d.m.Y",strtotime($v->end));?></td>
                  <td class="text-center">
										<div class="btn-group">
                    <a href="<?= $this->url(array('interval'=>$v->id));?>" class="btn btn-xs btn-primary" title="<?= translate("setup.opening.times");?>"><i class="fa fa-cogs"></i></a>
                    <a href="<?= $this->url(array('interval'=>$v->id,'delete'=>1));?>" class="btn btn-xs btn-danger confirmation" title="<?= translate("delete.interval");?>"><i class="fa fa-trash"></i></a>
										</div>
                  </td>
                </tr>            
              <? endforeach;?> 
							</tbody>
            </table>   
          <? else:?>  
            <? if(empty($this->params["add"])):?>
            <p class="bg-warning text-center">
              <?= translate('no.opening.hours');?>
            </p>
            <? endif;?>
          <? endif;?>
      </div>
    </div> 
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <?= translate("custom.opening.times");?> - <strong><?= $this->center->name;?></strong>
        </div>
        <? if($this->interval):?>
        <? $prices=$this->interval->getDays(array('where'=>'h.wday="'.$this->params["wday"].'"'));?>
        <? //Zend_Debug::dump($prices);?>
        <div class="panel-body"?>
           <div class="col-md-12">
            <div class="btn-group btn-group-sm" role="group" aria-label="days">
              <? for($d=0;$d<7;$d++):?>
              <? if($d==$this->params["wday"] && $this->params["wday"]!==null): $class="btn-primary"; else: $class="bnt-default"; endif;?>
              <a href="<?= $this->url(array("wday"=>$d,"interval"=>$this->interval->id));?>" class="btn <?= $class;?>"><?= translate("day.".$d);?></a>
              <? endfor;?>
            </div>            
          </div>
          <div class="col-md-12">
            <h3>
              <?= translate("prices.setup.for.interval");?>
            </h3>
            <? if(empty($this->params["wday"]) && $this->params["wday"]!=="0"):?>
            <p class="alert bg-danger">
              <?= translate("select.day.of.week.from.above");?>
            </p>
            <? else:?>
            <form method="post" action="<?= url(array('action'=>'saveprice'));?>">
              <input type="hidden" name="interval_id" value="<?= $this->interval->id;?>"/>
              <input type="hidden" name="wday" value="<?= $this->params["wday"]?>"/>
              <table class="table table-bordered">
                <thead>
                  <tr>
                  <th><?= translate("from.hour");?></th>
										<? for($i=0;$i<12;$i++):?>
												<? if($i<10): $i="0".$i; endif;?>
													<? $timeunit=$this->center->unit;?>
													<? $colspan=(60/$timeunit);?>                             
												<th><?= $i;?></th>
										<? endfor;?>
                  </tr>
                </thead>
                <tbody>                  
                    <? $hour=$minute=0;$count=1;?>
                    <tr>
                        <td><?= translate("price");?></td>
                          <? for($u=0;$u<(12);$u++):?>
                        <td style="padding:0">
                          <? if($u<10): $u="0".$u; endif;?>                          
                          <input name="price[]" value="<?= $prices[$this->params["wday"]][$u.":00"];?>" type="text" onkeyup="commadot(this)" class="form-control text-center" style="padding:2px" title="<?= translate("price.for.hour");?>"/>
                        </td>
                        <? if($colspan==$count):?>
                          <? $hour++; $minute=0;$count=1;?>
                        <? else:?>
                          <? $minute+=$timeunit;$count++; ?>
                        <? endif;?>
                      <? endfor;?>
                    </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <thead>
                  <tr>
                  <th><?= translate("from.hour");?></th>
										<? for($i=12;$i<24;$i++):?>
												<? if($i<10): $i="0".$i; endif;?>
													<? $timeunit=$this->center->unit;?>
													<? $colspan=(60/$timeunit);?>                             
												<th ><?= $i;?></th>
										<? endfor;?>
                  </tr>
                </thead>
                <tbody>                  
                    <? $hour=$minute=0;$count=1;?>
                    <tr>
                        <td><?= translate("price");?></td>
                          <? for($u=12;$u<24;$u++):?>
                        <td style="padding:0;">
                          <input name="price[]" value="<?= $prices[$this->params["wday"]][$u.":00"];?>" type="text" onkeyup="commadot(this)" class="form-control text-center" style="padding:2px" title="<?= translate("price.for.hour");?>"/>
                        </td>
                        <? if($colspan==$count):?>
                          <? $hour++; $minute=0;$count=1;?>
                        <? else:?>
                          <? $minute+=$timeunit;$count++; ?>
                        <? endif;?>
                      <? endfor;?>
                    </tr>
                </tbody>
              </table>
              <div class="form-group">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-success">
                    <?= translate("submit");?>
                  </button>
                </div>
              </div>
            </form> 
            
            <? endif;?>
          </div>
        </div>  
      <? else:?>        
        <div class="panel-body">
          <p class="bg-warning text-center"><i class="fa fa-chevron-left"></i> <?= translate("select.opening.time.to.edit");?></p>
        </div>
      <? endif;?>
      </div>
    </div>   
  </div>
</div>
<div class="panel panel-default">
  
</div>
<script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('<?= translate('are.you.sure');?>');
    });
		function commadot(that) {
			if (that.value.indexOf(",") >= 0) {
			that.value = that.value.replace(/\,/g,".");
			}
		}
</script>
<?
$this->header="";
?>