<!--=== Content Part ===-->
<div class="container bootcards-container" id="main">
    
<div class="row">
<form class="reg-page" method="post">
                           
       
    
	<div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4 bootcards-cards">
		<div class="panel panel-default">
			<div class="panel-heading clearfix text-center">
				<? if($this->client):?>
					<h3>
						<?= $this->client->name;?>
					</h3>
				<? else:?>
			    <img src="http://www.originals.sk/wp-content/uploads/2013/02/originals_logo.png" />
				<? endif;?>
                            
                            
			</div>
            

			<div class="list-group">
                                
                                <div class="list-group-item">
					<label class="list-group-item-text"><?= translate('user.login') ?></label>
					<div class="list-group-item-heading">
						<input type="text" required name="username" placeholder="Login" class="form-control">
					</div>
				</div>
                                
                                
                                
                                
                                <div class="list-group-item">
					<label class="list-group-item-text"><?= translate('user.password') ?></label>
					<div class="list-group-item-heading">
                                            <input type="password" required name="password" placeholder="<?= translate('user.password') ?>" class="form-control">
					</div>
				</div>
                                
                                
                                <div class="list-group-item">
					<div class="list-group-item-heading">
                                            <button type="submit" class="btn btn-primary pull-right">
                                                    <?= translate('user.btn.login') ?>
                                            </button>
                                            
                                            <label class="">
                                                <input type="checkbox" name="pernament" value="1" class="">
                                                <?= translate('user.pernamentlogin') ?>
                                            </label>
                                            <br><br>
					</div>
				</div>
                                
                                               


                           
				
			</div>
		</div>
	</div>
     </form> 
</div>                            
</div>                            
                            
                            
                            