

body {
	color: #333333;
	background: #ffffff;  
	overflow-x: hidden; 
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content-block {
	width: 100%;
	padding: 20px 0 20px 0;
	z-index: 100;
	position: relative;
	background-color: #ffffff;
}

.content-block-nopad {
	width: 100%;
	z-index: 100;
	position: relative;
	background-color: #ffffff;
}




a:hover {
	color: #DC1703;
	text-decoration: none;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* LISTS */

ol {
	position: relative;
	padding-left: 22px;
}

ul {
    list-style: none;
	position: relative;
	padding-left: 22px;
}

ul li,
ol li {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #515157;
	margin-bottom: 5px;
}

ul.circle li:before {
    font-family: 'fontawesome';
    content: '\f10c';
    font-size: 12px;
    color: #16a085;
    padding-top: 2px;
	margin-left: -20px;
	position: absolute;
}

/* HEADER */

.custom-header {
	background:#292c2f;
  box-sizing:border-box;
  border:0;
  border-radius:0;
}

.custom-header a.navbar-brand.navbar-link{
  color:#fff;
	font:normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height:0.5;
  margin-right:40px;
	padding: 30px 0;
}

.custom-header a.navbar-brand.navbar-link span{
  color:#bc40df;
}

.custom-header ul.nav.navbar-nav.links li a {
	color:#fff;
  font:14px Arial, Helvetica, sans-serif;
  opacity:0.9;
  text-decoration:none;
  border:0;
}

.custom-header ul.nav.navbar-nav li a:hover{
	color:#292c2f;
  opacity:1;
}

.custom-header .badge{
  position:absolute;
  top:4px;
  border-radius:2px;
  font-size:11px;
  padding:2px 4px;
  font-weight:normal;
}

.custom-header li.dropdown, .custom-header li.dropdown.open{
	background:#3a3c3e;
	color:#fff;
}

.custom-header li.dropdown .dropdown-toggle{
  border-radius:2px;
	color:#fff;
  padding:15px 14px;
  opacity:0.9;
  border:0;
  margin:0;
}

.custom-header li.dropdown .dropdown-toggle:focus, .custom-header li.dropdown .dropdown-toggle:hover, .custom-header li.dropdown .dropdown-toggle:active{
  background:#3a3c3e;
  color:#fff;
}

.custom-header ul.nav.navbar-nav.navbar-right .dropdown li a{
  font:bold 13px Arial, Helvetica, sans-serif;
}



.custom-header .dropdown ul{
  background-color:#3a3c3e;
  border:0;
  min-width:140px;
}

.custom-header .dropdown ul li{
  background-color:#3a3c3e;
  padding:7px;
  text-align:center;
}

.custom-header .dropdown ul li a{
  background:#3a3c3e;
  border-radius:2px;
  color:#fff;
  padding:0;
}

.custom-header .dropdown ul li a:active, .custom-header .dropdown ul li a:focus, .custom-header .dropdown ul li a:hover{
  background:#3a3c3e;
}

.custom-header .dropdown ul li.active a{
  color:#e9ac09 !important;
}

nav.navbar.navbar-default.custom-header{
}

/* PAGE STYLE */

/*	HEADER 1
/*----------------------------------------------------*/

#header {
    width: 100%;
    background: none;
    min-height: 80px;
}

#header .main-nav {
	  background:#292c2f;
    border: 0;
    height: 80px;
}

#header .main-nav .navbar-toggle {
	margin-right: 0;
	margin-top: 0;
	background: none;
	position: absolute;
	right: 20px;
	top: 20px;
}

#header .main-nav .navbar-toggle:focus {
	outline: none;
}

#header .main-nav .navbar-toggle .icon-bar {
	background-color: rgba(255, 255, 255, 1);
	height: 3px;
}

#header .main-nav .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

#header .main-nav .nav {
	margin-top: 16px;
}

#header .main-nav .nav .nav-item a {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	color: rgba(0, 0, 0, 1);
}

#header .main-nav .nav .nav-item.active a {
	color: orangered;
	back ground: none;
}

#header .main-nav .nav .nav-item a:hover {
	color: orangered;
	background: none;
}

#header .main-nav .nav .nav-item a:focus {
	outline: none;
	background: none;
}

#header .main-nav .nav .nav-item a:active {
	outline: none;
	background: none;
}

#header .main-nav .nav .nav-item.active {
	color: #333;
}



#header .brand-img {
	max-width: 150px;
	padding: 20px 0;
}

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
}

.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}


/* index page styles */

.breadcrumb {
	color: #434a54;
	background-color: #e6e9ed
}

.breadcrumb>.active {
	color: #434a54
}

.breadcrumb a {
	color: #3bafda
}

.breadcrumb-arrow {
	height: 36px;
	padding: 0;
	line-height: 36px;
	list-style: none;
	background-color: #e6e9ed
}

.breadcrumb-arrow li:first-child a {
	border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px
}

.breadcrumb-arrow li,
.breadcrumb-arrow li a,
.breadcrumb-arrow li span {
	display: inline-block;
	vertical-align: top
}

.breadcrumb-arrow li:not(:first-child) {
	margin-left: -5px
}

.breadcrumb-arrow li+li:before {
	padding: 0;
	content: ""
}

.breadcrumb-arrow li span {
	padding: 0 10px
}

.breadcrumb-arrow li a,
.breadcrumb-arrow li:not(:first-child) span {
	height: 36px;
	padding: 0 10px 0 25px;
	line-height: 36px
}

.breadcrumb-arrow li:first-child a {
	padding: 0 10px
}

.breadcrumb-arrow li a {
	position: relative;
	color: #fff;
	text-decoration: none;
	background-color: #3bafda;
	border: 1px solid #3bafda
}

.breadcrumb-arrow li:first-child a {
	padding-left: 10px
}

.breadcrumb-arrow li a:after,
.breadcrumb-arrow li a:before {
	position: absolute;
	top: -1px;
	width: 0;
	height: 0;
	content: '';
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent
}

.breadcrumb-arrow li a:before {
	right: -10px;
	z-index: 3;
	border-left-color: #3bafda;
	border-left-style: solid;
	border-left-width: 11px
}

.breadcrumb-arrow li a:after {
	right: -11px;
	z-index: 2;
	border-left: 11px solid #2494be
}

.breadcrumb-arrow li a:focus,
.breadcrumb-arrow li a:hover {
	background-color: #4fc1e9;
	border: 1px solid #4fc1e9
}

.breadcrumb-arrow li a:focus:before,
.breadcrumb-arrow li a:hover:before {
	border-left-color: #4fc1e9
}

.breadcrumb-arrow li a:active {
	background-color: #2494be;
	border: 1px solid #2494be
}

.breadcrumb-arrow li a:active:after,
.breadcrumb-arrow li a:active:before {
	border-left-color: #2494be
}

.breadcrumb-arrow li span {
	color: #434a54
}
.breadcrumb li a .fa {margin-top:10px;}



.client h2 {
	margin-bottom: 50px;
}

.client-member {
	max-width: 500px;
	margin: 0 auto 20px auto;
	overflow: hidden;
	border-top: 0;
	border: 1px solid #f5f5f5;
	border-radius: 4px;
}

.client-details {
	padding: 20px;
}

.client-member .member-name {
	marg in-top: 20px;
	position: relative;
}

.client-member .member-name:before {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #ecf0f1;
	display: block;
	position: absolute;
	bottom: -10px;
	left: 0;
}

.client-member .position {
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	display: block;
}

.client-member .social-links {
	padding-top: 10px;
}

.client-member .social-links > li a {
	border-color: #ecf0f1;
	border-radius: 3px;
}



/* Override bootstrap default */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background: none;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}

@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}



/*	HEADER MEDIA QUERIES
/*----------------------------------------------------*/

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  	  	
	#header .brand-img {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	
	#header .navbar-fixed-top {
		position: relative;
	}
	
	#header .navbar-collapse {
		border-top: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		width: 100%;
		top: 80px;
		position: absolute;
		background: #193441;
		z-index: 999;
	}
	
	#header .navbar-collapse .nav {
		margin: 0;
	}
	
	#header .main-nav .nav .dropdown-menu:before {
		display: none;
	}
	
	#header .navbar-fixed-top .navbar-collapse,
	#header .navbar-fixed-bottom .navbar-collapse {
		max-height: inherit;
	}
  
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
	
  
  
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
	
  
  
}

/********************************/
/*       Fade carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 70vh;
}
.fade-carousel .carousel-inner .item {
    height: 70vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: 20;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}


/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #E74C3C;
    border-color: #E74C3C;
    outline: none;
    margin: 20px auto;
}


/* CONTENT
/*----------------------------------------------------*/


.grid {
	overflow: hidden;
	margin: 10px 0;
}

/* Common style */
.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	height: 300px;
	background: #2c3e50;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	top: auto;
	bottom: 0;
	height: 70%;
	text-align: left;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: rgba(255,255,255,0.6);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 0.5;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}



/*	FOOTER 1-1
/*----------------------------------------------------*/

.footer {
	padding-top: 40px;
	padding-bottom: 10px;
}

.footer .brand-img {
	width: 180px;
}

.footer .social {
	margin-top: 20px;
}

.footer .address-bold-line {
	font-weight: 700;
	margin: 0;
	color: #ffffff;
}

.footer .address {
	color: #ffffff;
}

.footer .footer-text {
	border-top: #ecf0f1 1px solid;
	text-align: center;
	margin-top: 10px;
}

.footer .footer-text p {
	color: #ecf0f1;
	
}


/*------- REZERVACIE -------*/
.table>tbody>tr>td.table-link {cursor:pointer;padding:0 !important;}
td.table-link:hover {background:silver}
td.table-link.bg-danger:hover {background:red}
td.table-link a.btn {
	display:inline-block;
	width:100%;
	margin:0;
	border-radius:0;
	box-shadow:0 !important;
	padding:12px 6px;
}
td.disabled {background:silver;}

.dateselect {margin-right:5px; float:left; padding-left:5px; padding-right:3px; }
.dateselect-day,.dateselect-hour,.dateselect-minutes { width:60px;}
.dateselect-year { width:70px; margin-right:5px;}
.dateselect-month { width: 95px; font-size: 12px; }
.dateselect-hour { margin-top:10px; clear:left;}
.dateselect-minutes { margin-top:10px;}
.dateselect-divider { float:left; margin-top:10px; height:20px; display:block; line-height: 20px; padding:6px 6px 6px 3px; }
.smartTable .filter_row .filter-dateselect-element { white-space: nowrap; }
.smartTable .filter_row .filter-dateselect-element select { width:auto; font-size:9px; margin:0; padding:3px 1px 3px; margin-right:1px;   }
.filter-dateselect-element { margin-bottom:2px; }
.filter-dateselect-element .btn { font-size: 10px; padding: 4px; }

/**/
/* datepicker */
/**/
.ui-datepicker {
	display: none;
	padding: 10px 12px;
	background: rgba(255,255,255,1);
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	text-align: center;
	color: #666;
}
.ui-datepicker a {
	color: #404040;
}
.ui-datepicker-header {
	position: relative;
	margin: -10px -12px 10px;
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,1);
	font-size: 15px;
	line-height: 27px;
}
.ui-datepicker-prev, 
.ui-datepicker-next {
	position: absolute;
	top: 0;
	display: block;
	width: 47px;
	height: 47px;
	font-size: 15px;
	line-height: 47px;
	text-decoration: none;
	cursor: pointer;
}
.ui-datepicker-prev {
	left: 0;
}
.ui-datepicker-next {
	right: 0;
}
.ui-datepicker-calendar {
	border-collapse: collapse;
	font-size: 13px;
	line-height: 27px;
}
.ui-datepicker-calendar th {
	color: #999;
}
.ui-datepicker-calendar a,
.ui-datepicker-calendar span {
	display: block;
	width: 31px;
	margin: auto;
	text-decoration: none;
	color: #404040;
}
.ui-datepicker-calendar a:hover {
	background: rgba(0,0,0,.05);	
}
.ui-datepicker-calendar span {
	color: #bfbfbf;
}
.ui-datepicker-today a {
	font-weight: 700;
}
.ui-datepicker-calendar .ui-state-active {
	background: rgba(0,0,0,.05);
	cursor: default;	
}
.ui-datepicker-inline {
	border: 2px solid #e5e5e5;
	background: #fff;
	box-shadow: none;
}
.ui-datepicker-inline .ui-datepicker-header {
	line-height: 47px;
}
.ui-datepicker-inline .ui-datepicker-calendar {
	width: 100%;
}


.smartTable .filter_row .filter-dateselect-element select.dateselect-month { width:50px;  }

/*	FOOTER 1-3 MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
		
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	

	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
	
	
}
