<h1>Blahoželáme, ste úspešne registrovaný</h1>
<p>Vytvorili ste si konto, pomocou ktorého si môžete rýchlejšie rezervovať športoviská.</p>

<table>
	<tr><td><strong>Váš prihlasovací email:</strong></td><td><?= $data["user_email"] ?></td></tr>
	<tr><td><strong>Vaše meno</strong></td><td><?= $data["user_name"] ?></td></tr>
	<tr><td><strong>Vaše priezvisko</strong></td><td><?= $data["user_surname"] ?></td></tr>
</table>
<p>Vaše heslo je uložené šifrovane, nikde nebude zverejnené a taktiež ho neodporúčame zadávať nikde inde ako do prihlasovacieho formulára.</p>
<p>V prípade, že ste vaše heslo zabudli, použite možnost "stratené heslo" (bude odkaz)</p>
<p>S pozdravom tím trenujme.sk</p>