<h1>Blahoželáme, ste úspešne prihlásený</h1>
<p>Ahoj <?= $data["user_name"];?>, úspešne si sa zaradil do dnešnej súťaže o <?= $data["price"]["campaing_price_name"];?>. Zároveň už teraz získavaš hodnotnú cenu od partnera súťaže Different, poukaz na nákup v hodnote do 50 Eur. Tento poukaz si môžeš vytlačiť pomocou nižšie uvedenej linky a použiť v predajni podľa pokynov uvedených v poukaze. Víťaz dnešnej výhry bude uverejnený v našom profile po polnoci. Sleduj Facebook, čo ak si vyhral práve Ty.<br><br>Tvoj ZOC MAX Poprad</p>
<p><a href="http://s.originals.sk/facebook/voucher/<?= $data["link_id"];?>/<?= $data["link_code"];?>">Generuj voucher</a></p>
