<section class="content-block bg-silver">
		<div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h4>
            Kontaktné údaje
          </h4>
        </div>        
      </div>
      <div class="row">
        <div class="col-xs-3">
					<? if($this->client->image):?>
            <img src="/image/fill/150x100<?= $this->client->image;?>" alt="<?= $this->client->name;?>"/>
          <? endif;?>
				</div>
        <div class="col-xs-3">
            <address>
              <strong><?= $this->client->name;?></strong><br>
              <?= $this->client->address;?><br>
              <?= $this->client->zip." ".$this->client->city;?><br>
              <?= $this->client->phone;?><br>
              <? if($this->client->email):?>
                <a href="mailto:<?= $this->client->email;?>"><?= $this->client->email;?></a>
              <? endif;?>
            </address>
        </div>
      </div>
    </div>
</section>
<section class="content-block-nopad bg-pomegrenade">
		<div class="container footer">			
			<div class="col-xs-12 footer-text">
				<div class="editContent">
					<p> <a href="<?= url(array('action'=>'index','client'=>$this->client->hash,'center'=>null),'widget');?>">Úvodná stránka</a> | <a href="http://www.originals.sk/" target="_blank">Rezervačný systém dodáva Originals,s.r.o.</a></p>
				</div>
			</div>
		</div><!-- /.container -->
	</section>