<?php 

$this->bodyclass="fullwidth-body"; 
$this->hidefooter=0; 

?>
<div class="container">
<div class="row">
		<div class="col-sm-12 col-md-4">
			<? if($this->client):?>
<!-- 		
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						<i class="fa fa-eye"></i> <?= $this->client->name;?>
					</h4>					
				</div>
				<div class="panel-body">
					<? if($this->client->centers):?>
						<? foreach($this->client->centers as $key=>$val):?>
							<form>
								<label for="center[<?= $val->id;?>]"><?= $val->name;?></label>
								<input type="checkbox" name="center[<?= $val->id;?>]"/>
							</form>
						<? endforeach;?>
					<? endif;?>	
				</div>
			</div> 
-->
			<? endif;?>
			<div class="panel panel-default bootcards-text">
				<div class="panel-heading">
					Vyber dátum
				</div>
				<div class="panel-body text-center">              
                 <form class="form-inline hidden-xs hidden-sm clearfix" method="get" id="dates">
                  <div class="form-group form-group-sm">
                    <input type="text" name="currentDay" id="date" value="<?= $this->params["currentDay"];?>" class="form-control"/>
                  </div>
									<div class="clearfix"></div>
                </form>
        </div>
				<script>
					

	$("#date").change(function(){
		//console.log($(this).val());
		$("#dates").submit();
	});


				</script>
			</div>
			<div class="panel panel-default bootcards-table">
				<div class="panel-heading">
					Rýchla Objednávka
				</div>
				<div class="panel-body">
					<? if($this->myreservations[$this->params["currentDay"]]):?>
						<?= $this->form;?>
					<? else:?>
						<p>
							<?= translate("start.with.marking.hours");?>
						</p>
					<? endif;?>
				</div>
				<div class="panel-footer">

				</div>
			</div>
		</div>
    <div class="col-sm-12 col-md-8">
				<? if($this->client):?>
							
						<div class="row">
							<div class="col-md-12">
									<div class="row">																              
											<div class="col-xs-3 text-left">
													<a href="<?= url(array("currentDay"=>date("Y-m-d",strtotime($this->params["currentDay"])-86400)));?>" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="<?= date("d.m.Y",strtotime($this->params["currentDay"])-86400);?>"><i class="fa fa-chevron-left"></i></a>
											</div>
											<div class="col-xs-6 text-center" style="">                
												<p>
													Rezervácie na deň: <strong><?= date("d.m.Y",strtotime($this->params["currentDay"]));?></strong><br>
													<?= ucfirst(translate("wday.".date("w",strtotime($this->params["currentDay"]))));?>
												</p>                
											</div>
											<div class="col-xs-3 text-right">
												<a href="<?= url(array("currentDay"=>date("Y-m-d",strtotime($this->params["currentDay"])+86400)));?>" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="<?= date("d.m.Y",strtotime($this->params["currentDay"])+86400);?>"><i class="fa fa-chevron-right"></i></a>
											</div>
									</div>
							</div>
						</div>
						<div class="divider"></div>
						<? if($this->client->centers):?>
							<? foreach($this->client->centers as $key=>$val):?>
								<div class="panel panel-default bootcards-summary">
									<? $this->center=$val;?>
									<?= $this->render("calendar/templates/calendar.phtml");?>
								</div>
							<? endforeach;?>
						<? endif;?>
				<? endif;?>
    </div>
</div>
</div>
<script>
	$(document).ready(function(){	
		/*		
		$('.table').on('click','.table-link',function(e){
			var client=$(this).attr('data-client');
			var center=$(this).attr('data-center');
			var object=$(this).attr('data-object');
			var timestamp=$(this).attr('data-timestamp');
			var date="<?= $this->currentDay;?>";
			var request = $.ajax({
				url: "/calendar/ajax",
				method: "POST",
				data: { client : client, center:center, object:object, timestamp:timestamp, date:date },
				dataType: "json"
			});

			request.done(function( msg ) {
				$( "#log-"+center ).html( msg );
				if(msg.reload==true){
					loadReservations(msg.client);
				}
			});

			request.fail(function( jqXHR, textStatus ) {
				$( "#log-"+center ).html( textStatus );
			});
		});
		*/
	});
	
	function loadReservations(client){
		
		var currentDay="<?= $this->currentDay;?>";
		var reservations = $.ajax({
				url: "/calendar/ajaxreservations",
				method: "POST",
				data: { client :client, date:currentDay },
				dataType: "json",
				beforeSend:function(){
					$(".table .table-link").removeClass("bg-red");
				}
		});		
		reservations.done(function( json ) {
				if(json){	
					$.each(json,function(k,v){
						$('#td-'+v.object_id+'-'+v.timestamp+'').addClass("bg-red");
					});
					
				}
		});
		reservations.fail(function( jqXHR, textStatus ) {
				$( "#log-"+center ).html( textStatus );
		});
	}
</script>
<? $this->render("calendar/small.phtml");?>
