<?php
/***********************************************************************************************************
Vykreslenie kalendara
***********************************************************************************************************/


// výpis zvoleného dna
     $cislo_dne=date("w");
echo '<h3>'.translate("kalendar").':</h3>';
    echo '<p>Dnes je '.$nazev_dne[$cislo_dnes].' '.$datum_dnes.'</p>';

//vypisuje odkaz nebo jenom text, podle aktualniho datumu -> tzn. minulost je bez odkazu
function dateLink($from, $to, $text)
{
        global $month, $year, $den, $day;

        if  (mktime(0,0,0, $month, $from, $year) >= mktime(0,0,0, date('m'), date('d'), date('Y')))
                echo '<a href="a_rezervace.php?month='.$month.'&amp;year='.$year.'&amp;day='.$den.'">'.$text;
            else
                echo '<a style="color:#ccc" href="a_rezervace.php?month='.$month.'&amp;year='.$year.'&amp;day='.$den.'">'.$text;
        echo '</a>';
}


        // prevod na korektni hodnoty
	$year = date('Y', mktime(0,0,0, $month, 1, $year));
        $month = date('n', mktime(0,0,0, $month, 1, $year));

        // pocet dnu v danem mesici
	$count_days = date('t', mktime(0,0,0, $month, 1, $year));

        // cislo prvniho dne v mesici (1 = pondeli, ...)
        $first = date('w', mktime(0,0,0,$month,1,$year));
        if ($first == 0) $first = 7;

    echo '<table class="kalendar">';


//------ošetření kalendáře - měsíc 0 a 13
        if ($month == 12)
            {
            $odkaz_dalsi_month=1;
            $odkaz_dalsi_year=$year+1;
            $odkaz_zpet_month=$month-1;
            $odkaz_zpet_year=$year;
            }
        elseif ($month == 1)
            {
            $odkaz_dalsi_month=$month+1;
            $odkaz_dalsi_year=$year;
            $odkaz_zpet_month=12;
            $odkaz_zpet_year=$year-1;
            }
        else
            {
            $odkaz_dalsi_month=$month+1;
            $odkaz_dalsi_year=$year;
            $odkaz_zpet_month=$month-1;
            $odkaz_zpet_year=$year;
            }

        // predchozi, aktualni a nasledujici mesic
        echo '<tr><th colspan="2"><a href="a_rezervace.php?month=' . ($odkaz_zpet_month) . '&amp;year=' . $odkaz_zpet_year .  '&amp;day=1"><img src="images/sipka_leva.gif" alt="ipka" title="'.TPREDCHOZIMESIC.'" /></a></th>';
        echo '<th class="center" colspan="3">'.$month.'&nbsp;/&nbsp;'.$year.'</th>';
        echo '<th colspan="2"><a href="a_rezervace.php?month=' . ($odkaz_dalsi_month) . '&amp;year=' . $odkaz_dalsi_year . '&amp;day=1"><img src="images/sipka_prava.gif" alt="ipka" title="'.TNASLEDUJICIMESIC.'" /></a></th></tr>';

        echo '<tr><td>'.TKPO.'</td><td>'.TKUT.'</td><td>'.TKST.'</td><td>'.TKCT.'</td><td>'.TKPA.'</td><td>'.TKSO.'</td><td>'.TKNE.'</td></tr>';


        // cyklus pres tydny
        for ($x = 0; $x <= 5;$x++) {
        echo '<tr>';

        // cyklus pres dny v tydnu
        for ($i = 0;$i <= 6;$i++) {
		$den = $x*7 + $i - $first+2; // spocti den
			if ($den==$day):
				echo '<td class="bunka_nastavena";>';
				$vybrany_nazev_dne=$nazev_dne[$i];
                        else:
                                echo '<td>';
                        endif;

                // je to platne datum?
                if ($den >= 1 and $den <= $count_days )
                        dateLink($den, $den, $den);              // zapis do kalendare
                else
                        echo "&nbsp;";
                echo '</td>';
        }
	echo '</tr>';
        // pokud neexistuje nasledujici datum, ukonci cyklus
        if (!checkdate($month, $den+1, $year)) break;
}
//echo '<tr><th align="center" colspan="8">&nbsp;</th></tr>';
echo '</table>';
?>

