<div class="row">
    <div class="col-sm-8 bootcards-cards col-sm-offset-2">
         <div class="panel panel-default bootcards-richtext">
            <div class="panel-heading">
               <h3 class="panel-title"><?= $this->header ?></h3>
            </div>
            <div class="panel-body form-data">
                <?= msg().$this->form; ?>
            </div>
         </div>
    </div>
</div>
<?
$this->header="";
?>