<?php $this->placeholder('header-controls')->captureStart(); ?>
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <a href="<?= url(array('action'=>'index','id'=>null)) ?>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Zoznam</a>
        </div>
        
        <div class="btn-group">
            <a href="<?= url(array('action'=>'edit')) ?>" class="btn btn-success">Upraviť zákazníka</a>
        </div>
        
    </div>

<?php $this->placeholder('header-controls')->captureEnd(); ?>
<div class="row">
    <div class="col-sm-6 bootcards-cards">
         <div class="panel panel-default bootcards-richtext">
           <? /* <div class="panel-heading">
               <h3 class="panel-title"><?= $this->header ?></h3>
            </div> */ ?>
                <div class="list-group">
                <?php
                foreach($this->form->getReadRows() as $r):
                ?>    
                    <div class="list-group-item">
                            <label><?= $r["label"]; ?></label>
                            <h5 class="list-group-item-heading"><?= $r["value"]; ?></h5>
                    </div>
                <?php
                endforeach;
                ?>
                </div>
         </div>
    </div>
    <!--
            
    KONTAKTY

    -->
    <div class="col-sm-6 bootcards-cards">
         <div class="panel panel-default bootcards-richtext">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Kontakty</h3>
                <div class="btn-group pull-right">
                        <a class="btn btn-primary" href="#" onclick="loadContact(0)"  data-toggle="modal" data-target="#editcontactModal">
                                        <i class="fa fa-plus"></i>
                                        <span>Pridať</span>
                        </a>
                </div>
            </div>
            
            <div class="list-group">
                <?php
                if(!count($this->contacts)):
                ?>
                    <div class="list-group-item text-center">
                        Žiadne záznamy
                    </div>
                
                <?php  
                endif;
                $contactsOptions=array();
                foreach($this->contacts as $c):
                    $contactsOptions[$c->getId()]=$c->name;
                ?>    
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-5">
                                    <i class="fa fa-2x fa-user pull-left"></i>
                                    <h5 class="list-group-item-heading"><?= $c->name ?></h5>
                                    <p class="list-group-item-text"><?= $c->position ?></p>
                            </div>
                            <div class="col-sm-5">
                                    <p class="list-group-item-text"><?= $c->phone ?></p>
                                    <p class="list-group-item-text"><?= $c->email ?></p>
                            </div>
                            <div class="col-sm-2">
                                    <p class="list-group-item-text small"><?= Matj_Format::formatDate($c->modified) ?></p>
                                    <p class="list-group-item-text">
                                        <a class="btn btn-default btn-block btn-xs" onclick="loadContact(<?= $c->getId() ?>)" href="#" data-toggle="modal" data-target="#editcontactModal">
                                            <i class="fa fa-pencil"></i>
                                         </a>
                                    </p>
                            </div>
                        </div>
                    </div>
                <?php
                endforeach;
                ?>
            </div>
         </div>
        
        
        
        <!--
            
        KOMUNIKACIA

        -->
         <div class="panel panel-default bootcards-richtext">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Komunikácia</h3>
                <div class="btn-group pull-right">
                        <a class="btn btn-primary" href="#" onclick="loadCommunication(0)"  data-toggle="modal" data-target="#editcommunicationModal">
                                        <i class="fa fa-plus"></i>
                                        <span>Pridať</span>
                        </a>
                </div>
            </div>
            
            <div class="list-group">
                <?php
                if(!count($this->communication)):
                ?>
                    <div class="list-group-item text-center">
                        Žiadne záznamy
                    </div>
                
                <?php  
                endif;
                foreach($this->communication as $c):
                ?>    
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-10">
                                    <i class="fa fa-2x fa-<?= $c->icon(); ?> pull-left"></i>
                                    <h5 class="list-group-item-heading"><?= Matj_Format::formatDate($c->date,'d.m.Y H:i') ?> <small><?= (($cn=$c->contact_name) ? " - ".$cn : ""); ?></small></h5>
                                    <p class="list-group-item-text"><?= nl2br($c->text) ?></p>
                            </div>
                            <div class="col-sm-2">
                                    <p class="list-group-item-text small" data-toggle="tooltip" title="<?= Matj_Format::formatDate($c->modified,"d.m.Y H:i")." ".$c->user_name ?>">
                                        <i class="fa fa-clock-o pull-right" style="width:auto;"></i> <i class="fa fa-user pull-right" style="width:auto;" ></i>
                                    </p>
                                    <p class="list-group-item-text">
                                        <a class="btn btn-default btn-block btn-xs" onclick="loadCommunication(<?= $c->getId() ?>)" href="#" data-toggle="modal" data-target="#editcommunicationModal">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </p>
                            </div>
                        </div>
                    </div>
                <?php
                endforeach;
                ?>
            </div>
         </div>
        
        
        
              
<?php
if($this->access!==null):
?>       
        
        <!--
            
        Prístup

        -->
         <div class="panel panel-default bootcards-richtext">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Prístup</h3>
                <div class="btn-group pull-right">
                        <a class="btn btn-primary" href="#" onclick="loadAccess(0)"  data-toggle="modal" data-target="#editaccessModal">
                                        <i class="fa fa-plus"></i>
                                        <span>Pridať</span>
                        </a>
                </div>
            </div>


            <div class="list-group">
                <?php
                if(!count($this->access)):
                ?>
                    <div class="list-group-item text-center">
                        Žiadne záznamy
                    </div>
                
                <?php  
                endif;
                foreach($this->access as $c):
                ?>    
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-10">
                                    <i class="fa fa-1x fa-user pull-left"></i>
                                    <h5 class="list-group-item-heading"><?= $c->name ?></h5>
                            </div>
                            <div class="col-sm-2">
                                    <p class="list-group-item-text">
                                        <a class="btn btn-default btn-block btn-xs" onclick="loadAccess(<?= $c->id ?>)" href="#" data-toggle="modal" data-target="#editaccessModal">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </p>
                            </div>
                        </div>
                    </div>
                <?php
                endforeach;
                ?>
            </div>
         </div>
    
<?php
endif;
?>
        </div>

</div>




<?php $this->placeholder('modals')->captureStart(); ?>
<div class="modal fade" id="editcontactModal" tabindex="-1" role="dialog" aria-labelledby="editcontactModal" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
                    <form class="form-horizontal" method="POST" action="<?= url(array('action'=>'editcontact')) ?>">
                    <div class="modal-header">
                            <h4 class="modal-title">
                                            Kontakt
                            </h4>		
                    </div>
                    <div class="modal-body">
                                    <div class="form-group">
                                            <label class="col-xs-4 control-label">Meno</label>
                                            <div class="col-xs-8">
                                                <input type="text" required="true" name="first_name" class="form-control" placeholder="Meno" value="">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="col-xs-4 control-label">Priezvisko</label>
                                            <div class="col-xs-8">
                                                    <input type="text" name="last_name" class="form-control" placeholder="Priezvisko" value="">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="col-xs-4 control-label">Pozícia</label>
                                            <div class="col-xs-8">
                                                    <input type="text" name="position" class="form-control" placeholder="Pracovná pozícia" value="">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="col-xs-4 control-label">Telefón</label>
                                            <div class="col-xs-8">
                                                    <input type="text" name="phone" class="form-control" placeholder="+421" value="">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="col-xs-4 control-label">Email</label>
                                            <div class="col-xs-8">
                                                    <input type="email" name="email" class="form-control" placeholder="Email" value="">
                                            </div>
                                    </div>
                                    <input type="hidden" name="contact_id" value="" />
                    </div>
                    


                    <div class="modal-footer text-right">
                                    <button class="btn btn-success" type="submit">
                                            Uložiť
                                    </button>
                                    <button class="btn btn-warning" data-dismiss="modal">
                                            Zavrieť
                                    </button>
                        
                            <button class="btn btn-danger pull-left" name="delete" value="1">
                                    Odstrániť
                            </button>
                    </div>
                    </form>    
                    </div>
		</div>
</div>

    <div class="modal fade" id="editcommunicationModal" tabindex="-1" role="dialog" aria-labelledby="editcommunicationModal" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
                    <form class="form-horizontal" method="POST" action="<?= url(array('action'=>'editcommunication')) ?>">
                    <div class="modal-header">
                            <h4 class="modal-title">
                                            Komunikácia
                            </h4>		
                    </div>
                    <div class="modal-body">
                                    <div class="form-group">
                                            <label class="col-xs-4 control-label">Dátum</label>
                                            <div class="col-xs-8">
                                                <input type="text" required="true" name="date_sk" class="form-control pickDate" placeholder="Dátum" value="">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="col-xs-4 control-label">Čas</label>
                                            <div class="col-xs-8">
                                                <input type="text" required="true" name="time" class="form-control datepicker" placeholder="Čas" value="">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="col-xs-4 control-label">Typ</label>
                                            <div class="col-xs-8">
                                                <?= $this->formSelect('type',null,array('class'=>'form-control'),Model_Communication::getTypeOptions()) ?>
                                                <? /*    <input type="text" name="last_name" class="form-control" placeholder="Priezvisko" value=""> */ ?>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="col-xs-4 control-label">Kontaktná osoba</label>
                                            <div class="col-xs-8">
                                                    <?= $this->formSelect('contact_id',null,array('class'=>'form-control'),array(''=>'nezadané')+$contactsOptions) ?>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <div class="col-xs-12">
                                                    <?= $this->formTextarea('text','',array('class'=>'form-control','rows'=>4)) ?>
                                            </div>
                                    </div>
                                    <input type="hidden" name="communication_id" value="" />
                    </div>
                    


                    <div class="modal-footer text-right">
                                    <button class="btn btn-success" type="submit">
                                            Uložiť
                                    </button>
                                    <button class="btn btn-warning" data-dismiss="modal">
                                            Zavrieť
                                    </button>
                        
                            <button class="btn btn-danger pull-left" name="delete" value="1">
                                    Odstrániť
                            </button>
                    </div>
                    </form>    
                    </div>
		</div>
</div>



<?php
if($this->access!==null):

$employeesOptions=array();
foreach($this->employees as $e){
    $employeesOptions[$e->getId()]=$e->name;
}
?>
<div class="modal fade" id="editaccessModal" tabindex="-1" role="dialog" aria-labelledby="editaccessModal" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
                    <form class="form-horizontal" method="POST" action="<?= url(array('action'=>'editaccess')) ?>">
                    <div class="modal-header">
                            <h4 class="modal-title">
                                            Prístup
                            </h4>		
                    </div>
                    <div class="modal-body">
                                    <div class="form-group">
                                            <label class="col-xs-4 control-label">Kontaktná osoba</label>
                                            <div class="col-xs-8">
                                                    <?= $this->formSelect('user_id',null,array('class'=>'form-control','required'=>true),array(''=>'vyberte')+$employeesOptions) ?>
                                            </div>
                                    </div>
                                    <input type="hidden" name="access_id" value="" />
                    </div>
                    


                    <div class="modal-footer text-right">
                                    <button class="btn btn-success" type="submit">
                                            Uložiť
                                    </button>
                                    <button class="btn btn-warning" data-dismiss="modal">
                                            Zavrieť
                                    </button>
                        
                            <button class="btn btn-danger pull-left" name="delete" value="1">
                                    Odstrániť
                            </button>
                    </div>
                    </form>    
                    </div>
		</div>
</div>
<script>
    
    //$("#editcommunicationModal").modal();
    </script>
<?php 

endif;

$this->placeholder('modals')->captureEnd(); ?>