
<section class="fullwidth-section content-block">
  <div class="container">		
    <div class="row">
      <div class="col-md-12">          
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-3 col-sm-12 text-center">
								<? $centers=$this->client->fetchCenters();?>
								<? if(count($centers)>1):?>
									<div class="btn-group">
										<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
											<?= translate("change.area");?>
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											<? foreach($centers as $k=>$v):?>
												<li><a href="<?= url(array('center'=>$v->hash,'client'=>$this->client->hash),'widget');?>"><?= $v->name;?></a></li>
											<? endforeach;?>	
										</ul>
									</div>
								<? else:?>
									<?= $this->center->name;?>
								<? endif;?>
              </div>
              <div class="col-md-6">              
                <div class="col-xs-3 text-right">
                   <? if($this->params["currentDay"]>date("Y-m-d")):?>
                    <a href="<?= url(array("currentDay"=>date("Y-m-d",strtotime($this->params["currentDay"])-86400)));?>" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="<?= date("d.m.Y",strtotime($this->params["currentDay"])-86400);?>"><i class="fa fa-chevron-left"></i></a>
									<? else:?>
											<a href="#" class="btn btn-default btn-disabled" data-toggle="tooltip" data-placement="top" title="<?= date("d.m.Y",strtotime($this->params["currentDay"])-86400);?>"><i class="fa fa-chevron-left"></i></a>
										<? endif;?>
                </div>
                <div class="col-xs-6 text-center" style="padding-top:5px;">                
                  <h5>
                    Rezervácie na deň: <strong><?= date("d.m.Y",strtotime($this->params["currentDay"]));?></strong><br><?= ucfirst(translate("wday.".date("w",strtotime($this->params["currentDay"]))));?>
                  </h5>                
                </div>
                <div class="col-xs-3 text-left">
                  <a href="<?= url(array("currentDay"=>date("Y-m-d",strtotime($this->params["currentDay"])+86400)));?>" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="<?= date("d.m.Y",strtotime($this->params["currentDay"])+86400);?>"><i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="col-md-3 text-center">              
                 <form class="" method="get" id="dates">
                  <div class="form-group form-group-sm text-center">
                    <label class="control-label" for="formGroupInputSmall">Vyberte si dátum</label>
                    <input type="text" name="currentDay" id="date" value="<?= $this->params["currentDay"];?>" class="form-control text-center"/>
                  </div>									
                </form>
              </div>
            </div>            
          </div>
					<div class="table-responsive">
          <table class="table table-bordered table-striped table-condensed">
            <thead class="cf">
              <tr>
                <th width="10%"><?= translate("time");?></th>
                <? if($this->intervals):?>
                        <? foreach($this->intervals as $k=>$v):
                              list($hour,$minutes,$seconds)=explode(":",$k);
                              if($minutes>0): $i++; else: $i=1; endif;
                              $header[$hour]='<th colspan="'.$i.'" class="text-center"><small data-toggle="tooltip" data-placement="bottom" title="'.date("H:00",strtotime($k)).'-'.date("H:00",strtotime($k)+3600).'">'.date("H:00",strtotime($k)).'</small></th>';                          
                            endforeach;?>
                       <? if($header): foreach($header as $h):?>
                        <? echo $h;?>
                       <? endforeach; 
                        else:
                          echo '<th></th>';
                        endif;?>
                <? endif;?>
              </tr>
            </thead>             
            <tbody>              
            <? if($this->objects):?>
                  <? foreach($this->objects as $ko=>$vo):?>
                    <tr>
                      <td><?= $vo->name;?></td>
                      <? $hour=$minute=0;$count=1;?>
                      <? if($this->intervals):?>
                        <? foreach($this->intervals as $k=>$v):?>
                            <? //zEND_dEBUG::DUMP($v);?>
                            <? list($hour,$minutes,$seconds)=explode(":",$k);?>                     
                            <? $timestamp=mktime($hour, $minutes, 0, date("m",strtotime($this->params["currentDay"])),date("d",strtotime($this->params["currentDay"])) ,date("Y",strtotime($this->params["currentDay"])));?>
                            <? $price=number_format(($v["price"]/$v["divider"]),2);?>
                            <? if($this->reservations[$vo->id][$k]):?>
                              <td class="table-link bg-orange nopadding"><a href="#" data-toggle="tooltip" data-placement="top" title="<?= translate("already.booked");?>" class="btn"><i class="fa fa-users"></i></a></td>
                            <? else:?>
                              <? if($this->myreservations[$this->params["currentDay"]][$vo->id][$k]):?>
                                <td class="table-link text-center bg-danger nopadding" data-client="<?= $this->client->id;?>" data-center="<?= $this->center->id;?>" data-object="<?= $vo->id;?>" data-timestamp="<?= $timestamp;?>" id="td-<?= $vo->id.'-'.$timestamp;?>">
                                  <a href="<?= url(array('action'=>'remove','id'=>$this->myreservations[$this->params["currentDay"]][$vo->id][$k]["hash"],'timestamp'=>$timestamp,'client'=>$this->client->hash,'center'=>$this->center->hash,'object'=>$vo->hash,'price'=>$price),'widget');?>" data-toggle="tooltip" data-placement="top" title="<?= translate("remove.reservation.from")." ".date("d.m. H:i",$timestamp)." hod.";?>" class="btn btn-danger" style="margin:0"><i class="fa fa-minus"></i></a> <? $hour.":".$minute;?>
                                  <? date("d.m. H:i",$timestamp);?>
                                </td>
                              <? else:?>
                                <td class="table-link text-center nopadding" data-client="<?= $this->client->id;?>" data-center="<?= $this->center->id;?>" data-object="<?= $vo->id;?>" data-timestamp="<?= $timestamp;?>" id="td-<?= $vo->id.'-'.$timestamp;?>">
                                  <? if(date("d.m. H:i")<date("d.m. H:i",$timestamp)):?>														
																		<a href="<?= url(array('action'=>'reservation','timestamp'=>$timestamp,'client'=>$this->client->hash,'center'=>$this->center->hash,'object'=>$vo->hash,'price'=>$price),'widget');?>" data-toggle="tooltip" data-placement="top" title="<?= translate("reservation.from")." ".date("d.m. H:i",$timestamp)." hod., ".translate("price")." ".$price.",- EUR";?>" class="btn btn-success" style="margin:0"><i class="fa fa-plus"></i></a> <? $hour.":".$minute;?>
																	<? else:?>
																		<a href="#" class="btn btn-disabled" style="margin:0" data-toggle="tooltip" data-placement="top" title="<?= translate("ohh.we.would.like.to.know.how.to.travel.to.the.past");?>"><i class="fa fa-clock-o"></i></a>
                                  <? endif;?>
                                </td>
                              <? endif;?>
                            <? endif;?>
                        <? endforeach;?>
                      <? else:?>
                          <td><?= translate("closed");?></td>
                      <? endif;?>
                    </tr>              
                  <? endforeach;?>
            <? endif;?>
            </tbody>
            <tfoot>
              <tr>
                <th><?= translate("price");?></th>
                <? if($this->intervals):?>
                        <? foreach($this->intervals as $k=>$v):
                              list($hour,$minutes,$seconds)=explode(":",$k);
															$timestamp=mktime($hour, $minutes, 0, date("m",strtotime($this->params["currentDay"])),date("d",strtotime($this->params["currentDay"])) ,date("Y",strtotime($this->params["currentDay"])));
                            
                              if($minutes>0): $i++; else: $i=1; endif;
															if(date("d.m. H:i")<date("d.m. H:i",$timestamp)):
                              $header[$hour]='<th colspan="'.$i.'" class="text-center"><small data-toggle="tooltip" data-placement="bottom" title="'.translate("price.per.hour").'">'.number_format($v["price"],2).',-</small></th>';                          
                            	else:
															$header[$hour]='<th colspan="'.$i.'" class="text-center"></th>';
															endif;
														endforeach;?>
                       <? if($header): foreach($header as $h):?>
                        <? echo $h;?>
                       <? endforeach; 
                        else:
                          echo "<th></th>";
                        endif;?>
                <? endif;?>
              </tr>
            </tfoot>
            </table>
            <? //Zend_Debug::dump($this->intervals);?>
					</div>
        </div>
      </div>      
    </div>    
  </div>
</section>
<script>

	$("#date").change(function(){
		//console.log($(this).val());
		$("#dates").submit();
	});

</script>
<section class="blog-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><?= translate("your.reservation");?></h2>
      </div> 
			<? if($this->myreservations["all"]):?>      
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
             <h5><?= translate("list.of.reservations");?></h5>   
          </div>
          <table class="table table-bordered table-small">
            <thead>
              <tr>
                <th>Stredisko</th>
                <th class="text-center">Deň</th>
                <th class="text-center">Od</th>
                <th class="text-center">Do</th>
                <th class="text-right hidden-xs">Čas</th>
                <th class="text-right hidden-xs">Cena</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <? $time=0;?>
              <? $money=0;?>
              <? foreach($this->myreservations["all"] as $k=>$v):?>
                <? $object=new Model_Object($k+0);?>
                <? $center=new Model_Center($object->center_id);?>
                <? $client=new Model_Client($center->client_id);?>
                <tr>
                  <td rowspan="<?= count($v);?>"><? echo $object->name;?></td>
                  <? foreach($v as $key=>$val):?>
                    <? //Zend_Debug::dump($v);?>
                    <? $until=$val["timestamp"]+($center->unit*60);?>
                    <td class="text-center"><?= date("d.m.",strtotime($val["date"]));?></td>
                    <td class="text-center"><?= $key;?></td>
                    <td class="text-center"><?= date("H:i",$until);?></td>
                    <td class="text-right hidden-xs" class="text-right"><?= $center->unit;?> min.</td>
                    <td class="text-right hidden-xs"><?= number_format($val["price"],2);?>,- €</td>
                    <td><a href="<?= url(array('action'=>'remove','id'=>$val["hash"]),'widget');?>" data-toggle="tooltip" data-placement="top" title="<?= translate("remove.reservation.from");?>" class="btn btn-danger btn-sm" style="margin:0"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    <tr>
                      <? $time+=$center->unit;?>
                      <? $money+=$val["price"];?>
                  <? endforeach;?>
                </tr>
              <? endforeach;?>
                
            </tbody>
              <tfoot>
                <tr>
									<td><?= translate("summary");?></td>
									<td></td>
									<td class="hidden-xs"></td>
									<td class="hidden-xs"></td>
									<td class="text-right"><strong><?= $time;?> min.</strong></td>
									<td class="text-right"><strong><?= number_format($money,2);?>,- €</strong></td>
									<td></td>
              </tr>
              </tfoot>
             
            
          </table>
          <div class="panel-footer clearfix">
            <a href="<?= url(array('action'=>'user','client'=>$client->hash,'center'=>$center->hash,'price'=>null),'widget');?>"class="btn btn-primary pull-right"><?= translate("finish.reservation");?> <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
    	</div>  
			<? else:?>
			<div class="col-md-12">
				<blockquote>
          <p class="">
						<?= translate("no.reservations");?>
					</p>
        </blockquote>
				
			</div>
			<? endif;?>
		</div>    
  </div>
</section>
<script>
$(document).ready(function(){    
    $('table tr').each(function(){
        var $row = $(this);
        var height = $row.height();
        $row.find('a').css('height', height).append('&nbsp;');  
    });       
});
</script>