<section class="content-block">
  <div class="container">
    <div class="row">
        
        <? if($this->centers):?>
           <? foreach($this->centers as $k=>$v):?>    
              <div class="col-xs-4 client-member-wrap">
                <? //Zend_Debug::dump($v);?>
                <div class="client-member">
                  <a href="<?= $this->url(array('client'=>$this->client->hash,'center'=>$v["hash"],'action'=>'center'),'widget');?>" title="<?= translate("to.reserve");?>">
                  <? if($v["image"]):?>
                    <img src="/image/crop/600x500<?= $v["image"];?>" class="img-responsive" alt="<?= $v["name"];?>">
                  <? else:?>
                    <img src="http://placehold.it/600x500" class="img-responsive" alt="<?= $v["name"];?>">
                  <? endif;?>
                  </a>
                  <div class="client-details">
                    <div class="editContent">
                      <h4 class="member-name"><?= $v["name"];?></h4>
                    </div>
                    <div class="editContent">
                      <p class="position">
                        <i class="fa fa-map-marker"></i> <?= $this->client->address.", ".$this->client->city.", ".$this->client->country;?>
                      </p>
                    </div>
                    <div class="editContent">
                      <a href="<?= $this->url(array('client'=>$this->client->hash,'center'=>$v["hash"],'action'=>'center'),'widget');?>" class="btn btn-outline outline-dark large btn-full">Rezervovať</a>
                    </div>
                  </div>
                </div>
              </div>
            <? endforeach;?>              
        <? endif;?>
    </div>
  </div>
</section>