<section class="content-block">
		<div class="container">
      <div class="row">
        <div class="col-sm-12">
					<p>
						Vaša rezervácia bola odoslaná a čaká na schválenie. O jej stave budete informovaný prostredníctvom zadaného emailu, alebo cez SMS priamo od strediska <?= $this->client->name;?>.<br>
						Ďakujeme.<br>
					</p>
				</div>
      </div>
    </div>
</section>