<?
//Zend_Debug::dump($this->center);
$center=new Model_Center($this->center->id);
$this->objects=$center->fetchObjects();
$this->intervals=$center->fetchOpeningHours(array('output'=>'array','where'=>'i.center_id="'.$this->center->id.'" AND i.client_id="'.$this->center->client_id.'" AND i.start < "'.$this->params["currentDay"].'" AND i.end > "'.$this->params["currentDay"].'" AND h.wday="'.date("w",strtotime($this->params["currentDay"])).'" ')); 
?>
<? //Zend_Debug::dump($this->reservations);?>

  <div class="panel-heading">
    <h4>
      <?= $center->name;?>
    </h4>
  </div>
  <div class="table-responsive">
           <table class="table table-bordered table-admin">
              <thead>
                <tr>
                  <th width="15%"><?= translate("time");?></th>
                  <? if($this->intervals):?>
                          <? foreach($this->intervals as $k=>$v):
                                list($hour,$minutes,$seconds)=explode(":",$k);
                                if($minutes>0): $i++; else: $i=1; endif;
                                $header[$hour]='<th colspan="'.$i.'" class="text-center"><small data-toggle="tooltip" data-placement="bottom" title="'.date("H:00",strtotime($k)).'-'.date("H:00",strtotime($k)+3600).'">'.date("H:00",strtotime($k)).'</small></th>';                          
                              endforeach;?>
                         <? if($header): foreach($header as $h):?>
                          <? echo $h;?>
                         <? endforeach; 
                          else:
                            echo '<th></th>';
                          endif;?>
                  <? endif;?>
                </tr>
              </thead>             
              <tbody>              
              <? if($this->objects):?>
                    <? foreach($this->objects as $ko=>$vo):?>
                      <tr>
                        <td width="15%"><small><?= $vo->name;?></small></td>
                        <? $hour=$minute=0;$count=1;?>
                        <? if($this->intervals):?>
                          <? foreach($this->intervals as $k=>$v):?>
                              <? //zEND_dEBUG::DUMP($v);?>
                              <? list($hour,$minutes,$seconds)=explode(":",$k);?>                     
                              <? $timestamp=mktime($hour, $minutes, 0, date("m",strtotime($this->params["currentDay"])),date("d",strtotime($this->params["currentDay"])) ,date("Y",strtotime($this->params["currentDay"])));?>
                              <? $price=number_format(($v["price"]/$v["divider"]),2);?>
                              <? if($this->reservations[$vo->id][$k]):?>
                                <td class="table-link nopadding" style="background:<?= $this->reservations[$vo->id][$k]["color"];?>"><a href="#" data-toggle="tooltip" data-placement="top" title="<?= translate("already.booked");?>" class="btn"><i class="fa fa-ban"></i></a></td>
                              <? else:?>                              
                                 <? if($this->myreservations[$this->params["currentDay"]][$vo->id][$k]):?>
                                <td class="table-link text-center bg-danger nopadding" data-client="<?= $this->client->id;?>" data-center="<?= $this->center->id;?>" data-object="<?= $vo->id;?>" data-timestamp="<?= $timestamp;?>" id="td-<?= $vo->id.'-'.$timestamp;?>">
                                  <a href="<?= url(array('action'=>'remove','id'=>$this->myreservations[$this->params["currentDay"]][$vo->id][$k]["hash"],'controller'=>'calendar'),'default');?>" data-toggle="tooltip" data-placement="top" title="<?= translate("remove.reservation.from")." ".date("d.m. H:i",$timestamp)." hod.";?>" class="btn btn-danger" style="margin:0"><i class="fa fa-minus"></i></a> <? $hour.":".$minute;?>
                                  <? date("d.m. H:i",$timestamp);?>
                                </td>
                              <? else:?>
                                <td class="table-link text-center nopadding" data-client="<?= $this->client->id;?>" data-center="<?= $this->center->id;?>" data-object="<?= $vo->id;?>" data-timestamp="<?= $timestamp;?>" id="td-<?= $vo->id.'-'.$timestamp;?>">
                                  <a href="<?= url(array('action'=>'reservation','timestamp'=>$timestamp,'client'=>$this->client->hash,'center'=>$this->center->hash,'object'=>$vo->hash,'price'=>$price),'default');?>" data-toggle="tooltip" data-placement="top" title="<?= translate("reservation.from")." ".date("d.m. H:i",$timestamp)." hod., ".translate("price")." ".$price.",- EUR";?>" class="btn btn-default" style="margin:0"><i class="fa fa-plus"></i></a> <? $hour.":".$minute;?>
                                  <? date("d.m. H:i",$timestamp);?>
                                </td>
                              <? endif;?>
                              <? endif;?>
                          <? endforeach;?>
                        <? else:?>
                            <td><?= translate("closed");?></td>
                        <? endif;?>
                      </tr>              
                    <? endforeach;?>
              <? endif;?>
              </tbody>
              <tfoot>
                <tr>
                  <th><?= translate("price");?></th>
                  <? if($this->intervals):?>
                          <? foreach($this->intervals as $k=>$v):
                                list($hour,$minutes,$seconds)=explode(":",$k);
                                if($minutes>0): $i++; else: $i=1; endif;
                                $header[$hour]='<th colspan="'.$i.'" class="text-center"><small data-toggle="tooltip" data-placement="bottom" title="'.translate("price.per.hour").'">'.number_format($v["price"],2).',-</small></th>';                          
                              endforeach;?>
                         <? if($header): foreach($header as $h):?>
                          <? echo $h;?>
                         <? endforeach; 
                          else:
                            echo "<th></th>";
                          endif;?>
                  <? endif;?>
                </tr>
              </tfoot>
    </table>
    <? //Zend_Debug::dump($this->intervals);?>

  </div>
  <div class="panel-footer">
      <h5>
        Rezervácie
      </h5>
  </div>
  <div class="table-responsive">
      <table class="table table-stipped table-bordered table-sm table-inverse">
        <thead>
          <tr>
            <td></td>
            <td></td>
            <td>Priezvisko, meno</td>
            <td>Od</td>
            <td>Do</td>
            <td>Poznámka</td>
            <td>Akcie</td>
          </tr>
        </thead>
        <tbody>
          <? if($this->admintable):?>
              <? foreach($this->admintable as $k=>$v):?>
                  <? if($center->id==$v->center_id):?>
                  <tr>
                    <td style="background:<?= $v->color;?>" class="col-xs-1"></td>
                    <td class="col-xs-2"><?= $v->object_name;?></td>
                    <td class="col-xs-2"><a href="#" data-toggle="tooltip" data-placement="top" title="mail:<?= $v->email;?> tel:(<?= $v->phone;?>)"><?= $v->first_name." ".$v->last_name;?> <? if($v->company): echo "<br>".$v->company; endif;?></a></td>
                    <td class="col-xs-1"><?= date("H:i",$v->start);?></td>
                    <td class="col-xs-1"><?= date("H:i",$v->end+($center->unit*60));?></td>
                    <td class="col-xs-3"><?= $v->description;?></td>
                    <td class="col-xs-2">
                      <div class="btn-group">
                        <? if($v->status==2):?>
                        <a href="<?= url(array('action'=>'confirm','id'=>$v->hash));?>" class="btn btn-success btn-xs" title="<?= translate("confirm");?>"><i class="fa fa-check"></i></a>
                        <? endif;?>
                        <a href="<?= url(array('action'=>'cancel','id'=>$v->hash));?>" class="btn btn-danger btn-xs" title="<?= translate("delete");?>"><i class="fa fa-trash"></i></a>
                      </div>                      
                    </td>
                  </tr>
                  <? endif;?>
              <? endforeach;?>
          <? endif;?>
        </tbody>
      </table> 
  </div>