                <!-- jQuery and jQuery UI (REQUIRED) -->
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/smoothness/jquery-ui.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>

		<!-- elFinder CSS (REQUIRED) -->
		<link rel="stylesheet" type="text/css" href="<?= $this->baseUrl() ?>/external/elfinder/css/elfinder.min.css">
		<link rel="stylesheet" type="text/css" href="<?= $this->baseUrl() ?>/external/elfinder/css/theme.css">

		<!-- elFinder JS (REQUIRED) -->
		<script src="<?= $this->baseUrl() ?>/external/elfinder/js/elfinder.min.js"></script>

		<!-- elFinder translation (OPTIONAL) -->
		<script src="<?= $this->baseUrl() ?>/external/elfinder/js/i18n/elfinder.sk.js"></script>

		<!-- elFinder initialization (REQUIRED) -->
		<script type="text/javascript" charset="utf-8">
			
                        function getUrlParam(paramName) {
                            var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i') ;
                            var match = window.location.search.match(reParam) ;

                            return (match && match.length > 1) ? match[1] : '' ;
                        }
    
    
                        $(document).ready(function() {
                                <?php
                                if($this->callback=="ckeditor"):
                                ?>
                                        var funcNum = getUrlParam('CKEditorFuncNum');
                                <?php
                                endif;
                                ?>
                                <?php
                                if($this->callback=="tinymce"):
                                ?>
                                        var FileBrowserDialogue = {
                                            init: function() {
                                              // Here goes your code for setting your custom things onLoad.
                                            },
                                            mySubmit: function (URL) {
                                              // pass selected file path to TinyMCE
                                              parent.tinymce.activeEditor.windowManager.getParams().setUrl(URL);

                                              // close popup window
                                              parent.tinymce.activeEditor.windowManager.close();
                                            }
                                          }
                                <?php
                                endif;
                                ?>
                                        
				var elf = $('#elfinder').elfinder({
					url : '<?= url(array('action'=>'connector')) ?>'  // connector URL (REQUIRED)
					, lang: 'sk'                    // language (OPTIONAL)
                                        , height: "600"
                                        <?php
                                        if($this->callback=="ckeditor"):
                                        ?>
                                                    ,getFileCallback : function(file) {
                                                        window.opener.CKEDITOR.tools.callFunction(funcNum, file.url);
                                                        window.close();
                                                    }
                                        <?php
                                        endif;
                                        if($this->callback=="tinymce"):
                                        ?>
                                                    ,getFileCallback : function(file) {
                                                        FileBrowserDialogue.mySubmit(file);
                                                    }
                                        <?php
                                        endif;
                                        if($this->callback=="javascript"):
                                        ?>
                                                    ,commandsOptions : { getfile: { multiple:true } }
                                                    ,getFileCallback : function(file) {
                                                        
                                                        $.each(file,function(k,f){
                                                            window.opener.<?= $this->escape(Matj_Get::getFrontController()->getRequest()->getParam('function')) ?>(f.url);
                                                        });
                                                        
                                                        
                                                        window.close();
                                                    }
                                                    
                                                    
                                        <?php
                                        endif;
                                        ?>            
				}).elfinder('instance');
			});
		</script>
                

                <style>
                    .container-fluid #elfinder { margin-top:20px; }
                </style>
                
		<!-- Element where elFinder will be created (REQUIRED) -->
		<div id="elfinder"></div>
