<div class="col-sm-12 bootcards-list">
    <div class="panel panel-default bootcards-richtext">
       <div class="panel-heading">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="<?= $this->url(array('action'=>'index','controller'=>'userslog'),'default',true) ?>" class="btn btn-default active"><i class="fa fa-lock"></i> Prihlásenia</a>
                    <a href="<?= $this->url(array('action'=>'history','controller'=>'userslog'),'default',true) ?>" class="btn btn-default"><i class="fa fa-history"></i> Zmeny objednávok</a>
                </div>

            </div>
       </div>
       <div class="panel-body calendar-wrapper"> 
           <?= $this->table; ?>
       </div>
   </div>
</div>
<?
$this->header="";
?>