<div class="container_16 index_header">
	<div class="grid_16">
		  <h1>Ľutujeme, ale na stránke sa vyskytla chyba</h1>
		  <h2>Pokračujte na <a href="<?= $this->url(array('module'=>null),'default',true) ?>">úvodnej stránke</a></h2>
	</div>
	<div class="clear"></div> 
</div>
<div class="container_16 index_blackborders">
		<div class="grid_16">
			<?php if (isset($this->exception)): ?>
          	  <h3><?php echo $this->message ?></h3>
			  <h3>Exception information:</h3>
              <p>
                  <b>Message:</b> <?php echo $this->exception->getMessage() ?>
              </p>
            
              <h3>Stack trace:</h3>
              <pre><?php echo $this->exception->getTraceAsString() ?>
              </pre>
            
              <h3>Request Parameters:</h3>
              <pre><?php echo var_export($this->request->getParams(), true) ?>
              </pre>
              <?php endif ?>
            
        </div>
		<div class="clear"></div>
</div>
<div class="container_16 index_blackborders_bottom"></div>
