<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Kontaktné údaje</h1>
                <p></p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-4 col-lg-offset-4">
                <address>
                    <strong><span class="navy">Spoločnosť,....</span></strong><br/>
                    adresa<br/>
                    adresa<br/>
                    <abbr title="Phone">Tel:</abbr> 421 900 000 000
                </address>
            </div>           
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:test@email.com" class="btn btn-primary">Pošlite nám správu</a>
                <p class="m-t-sm">
                    alebo nás sledujte na sociálnych sieťach
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 </strong><br/> </p>
            </div>
        </div>
    </div>
</section>


