<?
$baseUrl=$this->baseUrl();
//Zend_Debug::dump($this->baseUrl());
?><!DOCTYPE html>
<!--[if IE 8]> <html lang="sk" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="sk" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="sk"> <!--<![endif]-->  
<head><?php

	head()
                ->setBaseUrl($this->baseUrl() ?: '/')
                ->setDefaults()
                ->prependStylesheet($this->baseUrl().'assets/backend/css/style.css')
                //->prependStylesheet('assets/bootcards/css/bootcards-android.css')
                ->prependStylesheet($this->baseUrl().'assets/bootcards/css/bootcards-desktop.css')
                ->prependStylesheet($this->baseUrl().'assets/font-awesome/css/font-awesome.min.css')
                ->prependStylesheet($this->baseUrl().'assets/backend/css/bootstrap.min.css')
                
                ->prependScriptFile($this->baseUrl().'assets/backend/js/script.js')
                ->prependScriptFile($this->baseUrl().'assets/backend/js/bootstrap.min.js') 
                ->prependScriptFile($this->baseUrl().'assets/backend/js/datepicker.js') 
                ->prependScriptFile($this->baseUrl().'assets/backend/js/jquery-ui.min.js') 
                ->prependScriptFile($this->baseUrl().'assets/backend/js/jquery.min.js')
                ->prependJavascript(' var baseUrl = "'.$this->baseUrl().'" ');

            echo head()->render();   
        		echo $this->openGraph();
            echo $this->headTitle();
    
    
    ?>
    
    
</head>