<?php

$this->defaultTitle='Rezervácie objektov';
$this->headTitle($this->defaultTitle);

echo $this->render('_header.phtml');
?>

    <body class="<?= $this->bodyclass ?>">

        
  <!-- fixed top navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <button type="button" class="btn btn-default btn-back pull-left hidden" onclick="history.back()">
        <i class="fa fa-lg fa-chevron-left"></i>
        <span>Back</span>
      </button>
      <!-- menu button to show/ hide the off canvas menu -->
      <button type="button" class="btn btn-default btn-menu pull-left" data-toggle="offcanvas">
        <i class="fa fa-lg fa-bars"></i><span>Menu</span>
      </button>

      <a class="navbar-brand" href="<?= base_url() ?>/"><?= $this->defaultTitle ?></a>  

      
      <!--navbar menu options: shown on desktop only -->
      <div class="navbar-collapse collapse">
        <?= $this->placeholder('menu') ?>
        <?php
        if($this->user):
        ?>
        <ul class="nav navbar-nav pull-right">
            <li class="first">
                <a class="" href="#"><i class="fa fa-user"></i> <?= $this->user->name ?></a></li>
            <li><a href="<?= base_url() ?>/account/logout"><i class="fa fa-sign-out"></i> Odhlásiť</a></li>
        </ul>
        <?
        endif;
        ?>
      </div>          
    </div>
  </div>   


  <div class="container bootcards-container push-right content-container">
      		<?php if(!empty($this->header)):?>
                    <div class="page-header">
             			<?= $this->placeholder('header-controls'); ?>
              			<h1><?= $this->header ?></h1>
                    </div>
		<?php endif; ?>   
        <?php
            $msg=Matj_Get::getFlashMessenger()."";
            if(!empty($msg))
                echo '<div class=container><div class=row><div class=col-sm-12>'.$msg.'</div></div></div>';

            echo $this->layout()->content;
        ?>

<?php
if(!$this->containerClosed):
?>
  </div><!--container-->
<?php
endif;

if($this->hidefooter!=1):
?>
  
  <div class="navbar navbar-default navbar-fixed-bottom">

    <div class="container">

      <div class="bootcards-desktop-footer clearfix">
        <p class="pull-left">Originals, s.r.o.</p>
      </div>

    </div>

  </div>
<?php
endif;
?>
  
<?= $this->placeholder('modals') ?>  
  </body>
</html>