<!-- HEADER 1 -->
<header id="header" class="bg-header">
  <!-- Navbar -->
  <nav class="main-nav navbar-fixed-top headroom headroom--pinned">
    <div class="container">
      
      <!-- Navigation -->
      <nav class="navbar custom-header">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="/">trenujme<span>.sk</span> </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav links">
                    <li role="presentation"><a href="/" title="<?= translate("home");?>"><i class="fa fa-home"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <? if($this->user):?>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"> <span class="caret"></span> <?= translate("welcome")." ".$this->user->name;?></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <? if($this->user->group_id<5):?>
                            <li><a href="<?= url(array('action'=>'index','controller'=>'calendar'),'default');?>">Admin </a></li>
                            <? endif;?>
                            <li><a href="<?= url(array('return'=>'/'),'logout');?>">Logout </a></li>
                        </ul>
                      <? else:?>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" title="<?= translate("login");?>"> <span class="caret"></span> <i class="fa fa-user"></i> <?= translate("welcome.guest");?></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                           <li><a href="<?= url(array(),'login');?>"><?= translate("login");?></a></li>
                           <li><a href="<?= url(array(),'login');?>"><?= translate("registration");?></a></li>
                        </ul>                      
                      <? endif;?>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
      <!--// End Navigation -->
    </div>
    <!--// End Container -->
  </nav>
  <!--// End Navbar -->
</header>
<!--// END HEADER-->