<?php
echo $this->render('_header.phtml');
?>

    <body class="<?= $this->bodyclass ?>">

        
    <div class="container">
    <?php
        $msg=Matj_Get::getFlashMessenger();
        if(!empty($msg))
            echo '<div class=container><div class=row><div class=col-sm-12>'.$msg.'</div></div></div>';

        echo $this->layout()->content;
    ?>
    </div>
  </body>
</html>