<?
$baseUrl=$this->baseUrl();
?>
<html>

<!--DOCTYPE html -->
<!--[if IE 8]> <html lang="sk" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="sk" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="sk"> <!--<![endif]-->  
<head>
  <?php
  head()
    ->setBaseUrl($this->baseUrl() ?: '/')
    ->setDefaults()
    ->prependStylesheet($this->baseUrl().'assets/frontend/css/widgets.css')
    ->prependStylesheet($this->baseUrl().'assets/frontend/css/basic.css')
		->prependStylesheet($this->baseUrl().'assets/frontend/css/style-library.css')
    ->prependStyleSheet('//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
    ->prependStyleSheet('//storage.googleapis.com/originals-sk/assets/css/magnific-popup.css')
    ->prependStyleSheet('//storage.googleapis.com/originals-sk/assets/css/owl.transitions.css')
    ->prependStyleSheet('//storage.googleapis.com/originals-sk/assets/css/owl.theme.css')
		->prependStyleSheet('//storage.googleapis.com/originals-sk/assets/css/owl.carousel.css')
		->prependStyleSheet('//storage.googleapis.com/originals-sk/assets/css/animate.min.css')
		->prependStyleSheet('//storage.googleapis.com/originals-sk/assets/css/bootstrap.min.css')
    
		->prependScriptFile($this->baseUrl().'assets/frontend/js/script.js') 
    ->prependScriptFile('//storage.googleapis.com/originals-sk/assets/js/wow.min.js')
    ->prependScriptFile('//storage.googleapis.com/originals-sk/assets/js/cbpAnimatedHeader.js')
    ->prependScriptFile('//storage.googleapis.com/originals-sk/assets/js/classie.js')
		->prependScriptFile($this->baseUrl().'assets/backend/js/datepicker.js') 
    ->prependScriptFile('//storage.googleapis.com/originals-sk/assets/js/owl.carousel.min.js')
    ->prependScriptFile('//storage.googleapis.com/originals-sk/assets/js/bootstrap.min.js')
    ->prependScriptFile('//storage.googleapis.com/originals-sk/assets/js/pace.min.js') 
    ->prependScriptFile($this->baseUrl().'assets/backend/js/jquery-ui.min.js') 
    ->prependScriptFile($this->baseUrl().'assets/backend/js/jquery.min.js')      
    ->prependJavascript(' var baseUrl = "'.$this->baseUrl().'" ');
  echo head()->render();
  echo $this->openGraph();
  echo $this->headTitle();
  ?>
</head>

<body>
  <div id="page" class="page">  
   	<?= $this->render("widgets/header.phtml");?>    
    <?= Matj_Get::getFlashMessenger();?>
    <?= $this->layout()->content ?>
    <?= $this->render("widgets/footer.phtml");?>     
  </div>
</body>
<script src="<?= $this->baseUrl();?>/assets/frontend/js/embed.js" type="text/javascript"></script>
<script type="text/javascript">var pymChild = new pym.Child();</script>  
</html>