<div class="row">
    <div class="col-sm-6 bootcards-cards">

    <div class="panel panel-default bootcards-richtext">
      <div class="panel-heading">
        <h3 class="panel-title"><?= translate('domain.settings') ?></h3>
      </div>
        <div class="panel-body">
            <?php
              echo $this->form;   
            ?>
        </div>
        </div>
      </div>


    <div class="col-sm-6 bootcards-list">
    <div class="panel panel-default bootcards-richtext">
      <div class="panel-heading">
          <a class="btn btn-primary pull-right" href="<?= url(array('action'=>'newnode','id'=>null)) ?>">Pridať</a>
        <h3 class="panel-title"><?= translate('domain.pages') ?></h3>
      </div>
        <?
        if(empty($this->pages)){
            echo '<div class="panel-body">Neboli vytvorené žiadne stránky.</div>';
        }
        else{
        ?>
        
            <div class="list-group">
            <?php
            foreach($this->pages as $page):
            ?>
                <a class="list-group-item <?= $page->pid >0 ? "padding-left-30" : "" ?>" href="<?= url(array('action'=>'node','id'=>$page->id)) ?>">
                        <i class="fa fa-2x pull-left fa-file-text-o"></i>
                        <h4 class="list-group-item-heading"><?= $page->title ?></h4>
                        <p class="list-group-item-text"><?= Matj_String::shorten(strip_tags($page->content)) ?></p>
                </a>
            <?
            endforeach;
            ?>
            </div>
        <?
        } //empty $this->pages
        ?>
    </div>
    </div>
        
    
    
</div>