<? //Zend_Debug::dump($this->intervals);?>
<section class="content-block bg-concrete">
		<div class="container">
			<!-- The title -->
			<div class="text-left">
				<h2 class="offwhite"><?= $this->client->name;?></h2>
				<p class="lead clouds"><?= translate("reservations.for");?> - <?= $this->center->name;?></p>
			</div>     
		</div><!-- ./container -->
</section>
<section class="fullwidth-section content-block">
  <div class="container">
		<div class="row">
			<div class="col-md-12 hidden-xs">
				<ol class="breadcrumb breadcrumb-arrow">
          <li><a href="/" title="<?= translate("home");?>"><i class="fa fa-home"></i></a></li>
          <li><a href="<?= $this->url(array('client'=>$this->client->hash),'client');?>" title="<?= $this->client->name;?>"><i class="fa fa-map-pin"></i><span><?= $this->client->name;?></span></a></li>
					<li><span><?= $this->center->name;?></span></li>
					<li class="active"><span><i class="fa fa-calendar"></i> <?= date("d.m.Y",strtotime($this->params["currentDay"]));?></span></li>	
        </ol>
			</div>
		</div>
    <div class="row">
      <div class="col-md-12">          
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-3 col-sm-12 text-center">
                <div class="btn-group">
                        <a href="#" class="btn btn-default dropdown-toggle btn-full" data-toggle="dropdown" title="<?= translate("change.area");?>">                          
                          <?= $this->center->name;?>
													<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <? foreach($this->client->fetchCenters() as $k=>$v):?>
                            <li><a href="<?= url(array('center'=>$v->hash,'client'=>$this->client->hash),'center');?>"><?= $v->name;?></a></li>
                          <? endforeach;?>
                        </ul>
                </div>
              </div>
              <div class="col-md-6">              
                <div class="col-xs-3 text-right">
                   <? if($this->params["currentDay"]>date("Y-m-d")):?>
                    <a href="<?= url(array("currentDay"=>date("Y-m-d",strtotime($this->params["currentDay"])-86400)));?>" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="<?= date("d.m.Y",strtotime($this->params["currentDay"])-86400);?>"><i class="fa fa-chevron-left"></i></a>
                  <? else:?>
										<a href="#" class="btn btn-default btn-disabled" data-toggle="tooltip" data-placement="top" title="<?= date("d.m.Y",strtotime($this->params["currentDay"])-86400);?>"><i class="fa fa-chevron-left"></i></a>
									<? endif;?>
                </div>
                <div class="col-xs-6 text-center" style="padding-top:5px;">                
                  <h5>
                    Rezervácie na deň: <strong><?= date("d.m.Y",strtotime($this->params["currentDay"]));?></strong><br><?= ucfirst(translate("wday.".date("w",strtotime($this->params["currentDay"]))));?>
                  </h5>                
                </div>
                <div class="col-xs-3 text-left">
                  <a href="<?= url(array("currentDay"=>date("Y-m-d",strtotime($this->params["currentDay"])+86400)));?>" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="<?= date("d.m.Y",strtotime($this->params["currentDay"])+86400);?>"><i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="col-md-3 text-center">              
                 <form class="form-inline hidden-xs hidden-sm clearfix" method="get" id="dates">
                  <div class="form-group form-group-sm">
                    <label class="control-label" for="formGroupInputSmall">Vyberte si dátum</label>
                    <input type="text" name="currentDay" id="date" value="<?= $this->params["currentDay"];?>" class="form-control"/>
                  </div>
									<div class="clearfix"></div>
                </form>
              </div>
            </div>            
          </div>
					<div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="10%"><?= translate("time");?></th>
                <? if($this->intervals):?>
                        <? foreach($this->intervals as $k=>$v):
                              list($hour,$minutes,$seconds)=explode(":",$k);
                              if($minutes>0): $i++; else: $i=1; endif;
                              $header[$hour]='<th colspan="'.$i.'" class="text-center"><small data-toggle="tooltip" data-placement="bottom" title="'.date("H:00",strtotime($k)).'-'.date("H:00",strtotime($k)+3600).'">'.date("H:00",strtotime($k)).'</small></th>';                          
                            endforeach;?>
                       <? if($header): foreach($header as $h):?>
                        <? echo $h;?>
                       <? endforeach; 
                        else:
                          echo '<th></th>';
                        endif;?>
                <? endif;?>
              </tr>
            </thead>             
            <tbody>              
            <? if($this->objects):?>
                  <? foreach($this->objects as $ko=>$vo):?>
                    <tr>
                      <td><?= $vo->name;?></td>
                      <? $hour=$minute=0;$count=1;?>
                      <? if($this->intervals):?>
                        <? foreach($this->intervals as $k=>$v):?>
                            <? //zEND_dEBUG::DUMP($v);?>
                            <? list($hour,$minutes,$seconds)=explode(":",$k);?>                     
                            <? $timestamp=mktime($hour, $minutes, 0, date("m",strtotime($this->params["currentDay"])),date("d",strtotime($this->params["currentDay"])) ,date("Y",strtotime($this->params["currentDay"])));?>
                            <? $price=number_format(($v["price"]/$v["divider"]),2);?>
                            <? if($this->reservations[$vo->id][$k]):?>
                              <td class="table-link bg-orange nopadding"><a href="#" data-toggle="tooltip" data-placement="top" title="<?= translate("already.booked");?>" class="btn"><i class="fa fa-ban"></i></a></td>
                            <? else:?>
                              <? if($this->myreservations[$this->params["currentDay"]][$vo->id][$k]):?>
                                <td class="table-link text-center bg-danger nopadding" data-client="<?= $this->client->id;?>" data-center="<?= $this->center->id;?>" data-object="<?= $vo->id;?>" data-timestamp="<?= $timestamp;?>" id="td-<?= $vo->id.'-'.$timestamp;?>">
                                  <a href="<?= url(array('action'=>'remove','timestamp'=>$timestamp,'client'=>$this->client->hash,'center'=>$this->center->hash,'id'=>$this->myreservations[$this->params["currentDay"]][$vo->id][$k]["hash"],'price'=>null),'center');?>" data-toggle="tooltip" data-placement="top" title="<?= translate("remove.reservation.from")." ".date("d.m. H:i",$timestamp)." hod.";?>" class="btn btn-danger" style="margin:0"><i class="fa fa-minus"></i></a> <? $hour.":".$minute;?>
                                  <? date("d.m. H:i",$timestamp);?>
                                </td>
                              <? else:?>
                                <td class="table-link text-center nopadding" data-client="<?= $this->client->id;?>" data-center="<?= $this->center->id;?>" data-object="<?= $vo->id;?>" data-timestamp="<?= $timestamp;?>" id="td-<?= $vo->id.'-'.$timestamp;?>">
                                  <? if(date("d.m. H:i")<date("d.m. H:i",$timestamp)):?>														
																		<a href="<?= url(array('action'=>'reservation','timestamp'=>$timestamp,'client'=>$this->client->hash,'center'=>$this->center->hash,'object'=>$vo->hash,'price'=>$price),'center');?>" data-toggle="tooltip" data-placement="top" title="<?= translate("reservation.from")." ".date("d.m. H:i",$timestamp)." hod., ".translate("price")." ".$price.",- EUR";?>" class="btn btn-success" style="margin:0"><i class="fa fa-plus"></i></a> <? $hour.":".$minute;?>
																	<? else:?>
																		<a href="#" class="btn btn-disabled" style="margin:0" data-toggle="tooltip" data-placement="top" title="<?= translate("ohh.we.would.like.to.know.how.to.travel.to.the.past");?>"><i class="fa fa-clock-o"></i></a>
                                  <? endif;?>
                                </td>
                              <? endif;?>
                            <? endif;?>
                        <? endforeach;?>
                      <? else:?>
                          <td><?= translate("closed");?></td>
                      <? endif;?>
                    </tr>              
                  <? endforeach;?>
            <? endif;?>
            </tbody>
            <tfoot>
              <tr>
                <th><?= translate("price");?></th>
                <? if($this->intervals):?>
                        <? foreach($this->intervals as $k=>$v):
                              list($hour,$minutes,$seconds)=explode(":",$k);
                              if($minutes>0): $i++; else: $i=1; endif;
                              $header[$hour]='<th colspan="'.$i.'" class="text-center"><small data-toggle="tooltip" data-placement="bottom" title="'.translate("price.per.hour").'">'.number_format($v["price"],2).',- €</small></th>';                          
                            endforeach;?>
                       <? if($header): foreach($header as $h):?>
                        <? echo $h;?>
                       <? endforeach; 
                        else:
                          echo "<th></th>";
                        endif;?>
                <? endif;?>
              </tr>
            </tfoot>
            </table>
            <? //Zend_Debug::dump($this->intervals);?>
						</div>
        </div>
      </div>      
    </div>    
  </div>
</section>
<section class="blog-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><?= translate("your.reservation");?></h2>
      </div> 
			<? if($this->myreservations["all"]):?>      
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
             <h5><?= translate("list.of.reservations");?></h5>   
          </div>
          <table class="table table-bordered table-small">
            <thead>
              <tr>
                <th>Stredisko</th>
                <th class="text-center">Deň</th>
                <th class="text-center">Od</th>
                <th class="text-center">Do</th>
                <th class="text-right">Čas</th>
                <th class="text-right">Cena</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <? $time=0;?>
              <? $money=0;?>
              <? foreach($this->myreservations["all"] as $k=>$v):?>
                <? $object=new Model_Object($k+0);?>
                <? $center=new Model_Center($object->center_id);?>
                <? $client=new Model_Client($center->client_id);?>
                <tr>
                  <td rowspan="<?= count($v);?>"><? echo $object->name;?></td>
                  <? foreach($v as $key=>$val):?>
                    <? //Zend_Debug::dump($val["timestamp"]);?>
                    <? $until=$val["timestamp"]+($center->unit*60);?>
                    <td class="text-center"><?= date("d.m.",strtotime($val["date"]));?></td>
                    <td class="text-center"><?= $key;?></td>
                    <td class="text-center"><?= date("H:i",$until);?></td>
                    <td class="text-right" class="text-right"><?= $center->unit;?> min.</td>
                    <td class="text-right"><?= number_format($val["price"],2);?>,- €</td>
                    <td><a href="<?= url(array('action'=>'reservation','timestamp'=>$val["timestamp"],'client'=>$client->hash,'center'=>$center->hash,'object'=>$object->hash,'price'=>$val["price"]),'center');?>" data-toggle="tooltip" data-placement="top" title="<?= translate("remove.reservation.from");?>" class="btn btn-danger btn-sm" style="margin:0"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    <tr>
                      <? $time+=$center->unit;?>
                      <? $money+=$val["price"];?>
                  <? endforeach;?>
                </tr>
              <? endforeach;?>
                
            </tbody>
              <tfoot>
                <tr>
                <td><?= translate("summary");?></td>
                <td colspan="3"></td>
                <td class="text-right"><?= $time;?> min.</td>
                <td class="text-right"><strong><?= number_format($money,2);?>,- €</strong></td>
                <td></td>
              </tr>
              </tfoot>
             
            
          </table>
          <div class="panel-footer clearfix">
            <a href="<?= url(array('action'=>'user','client'=>$client->hash,'center'=>$center->hash,'price'=>null),'center');?>"class="btn btn-primary pull-right"><?= translate("finish.reservation");?> <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
    	</div>  
			<? else:?>
			<div class="col-md-12">
				<blockquote>
          <p class="">
						<?= translate("no.reservations");?>
					</p>
        </blockquote>
				
			</div>
			<? endif;?>
		</div>    
  </div>
</section>