<section class="content-block bg-concrete">
		<div class="container">
			<!-- The title -->
			<div class="text-left">
				<h1 class="offwhite"><?= $this->client->name;?></h1>
				<p class="lead clouds">Zoznam športovísk</p>
			</div>     
		</div><!-- ./container -->
</section>
<section class="content-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 hidden-xs">
        <ol class="breadcrumb breadcrumb-arrow">
					<li><a href="/"><i class="fa fa-home"></i></a></li>
          <li class="active"><span><i class="fa fa-map-pin"></i> <?= $this->client->name;?></span></li>
        </ol>
      </div>
    </div>
    <div class="row">
        
        <? if($this->centers):?>
           <? foreach($this->centers as $k=>$v):?>    
              <div class="col-sm-3 client-member-wrap">
                <? //Zend_Debug::dump($v);?>
                <div class="client-member">
                  <a href="<?= $this->url(array('client'=>$this->client->hash,'center'=>$v["hash"]),'center');?>" title="<?= translate("to.reserve");?>">
                  <? if($v["image"]):?>
										<img src="/image/crop/600x500<?= $v["image"];?>" class="img-responsive" alt="<?= $v["name"];?>">
                  <? else:?>
                    <img src="http://placehold.it/600x500" class="img-responsive" alt="<?= $v["name"];?>">
                  <? endif;?>
                  </a>
                  <div class="client-details">
                    <div class="editContent">
                      <h4 class="member-name"><?= $v["name"];?></h4>
                    </div>
                    <div class="editContent">
                      <p class="position">
                        <i class="fa fa-map-marker"></i> <?= $this->client->address.", ".$this->client->city.", ".$this->client->country;?><br>
												<? if($v["phone"]):?>
												<i class="fa fa-phone"></i> <?= $v["phone"];?>
												<? endif;?>
                      </p>
                    </div>
                    <div class="editContent">
                      <a href="<?= $this->url(array('client'=>$this->client->hash,'center'=>$v["hash"]),'center');?>" class="btn btn-outline outline-dark large btn-full">Rezervovať</a>
                    </div>

                  </div>
                </div>
              </div>
            <? endforeach;?>              
        <? endif;?>
    </div>
  </div>
</section>