
<? if($this->reservations):?>
<? Zend_Debug::dump($this->reservations);?>

<section class="content-block bg-pomegranate">
		<div class="container">
			<!-- The title -->
			<div class="text-left">
				<h2 class="offwhite"><?= translate("booking.not.available");?></h2>
				<p class="lead clouds"><?= translate("this.bookings.ano.no.more.available");?></p>
        <table class="table table-bordered table-small offwhite">
            <thead>
              <tr>
                <th>Stredisko</th>
                <th class="text-center">Deň</th>
                <th class="text-center">Od</th>
                <th class="text-center">Do</th>
                <th class="text-right">Čas</th>
                
              </tr>
            </thead>
            <tbody>
              <? $time=0;?>
              <? $money=0;?>
              <? foreach($this->reservations as $k=>$v):?>
                <? $object=new Model_Object($v->object_id);?>
                <? $center=new Model_Center($v->center_id);?>
                <? $client=new Model_Client($v->client_id);?>
                <tr>
                  <td rowspan="<?= count($v);?>"><? echo $client->name." - ".$center->name." - ".$object->name;?></td>
                  <? $until=$v->timestamp+($center->unit*60);?>
                    <td class="text-center"><?= date("d.m.",strtotime($v->date));?></td>
                    <td class="text-center"><?= date("H:i",$v->timestamp);?></td>
                    <td class="text-center"><?= date("H:i",$until);?></td>
                    <td class="text-right" class="text-right"><?= $center->unit;?> min.</td>
                </tr>
              <? endforeach;?>
                
            </tbody>
          </table>
          <a href="<?= url(array('accept'=>true),'center');?>" class="btn btn-big btn-offwhite btn-success"><?= translate("accept");?></a>
			</div>     
		</div><!-- ./container -->
</section>
<? endif;?>

<section class="content-block bg-concrete">
		<div class="container">
			<!-- The title -->
			<div class="text-left">
				<h2 class="offwhite"><?= $this->client->name;?></h2>
				<p class="lead clouds"><?= translate("reservations.for");?> - <?= $this->center->name;?></p>
			</div>     
		</div><!-- ./container -->
</section>

<section class="content-block">
		<div class="container">
			<!-- The title -->
			<div class="text-left">
				<h3 class=""><?= translate("your.reservation.credentials");?></h2>
				<p class="lead clouds"><?= $this->form;?></p>
			</div>     
		</div><!-- ./container -->
</section>